{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
{% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }} 
    {{ core_manage.jump({
        url: ('mmembers/mcheckextract')|U, 
        title:  '佣金提取审核',
        class: 'on',
    }) }}
{% endblock %}

{% block mainleft %}
 <section class="main-left" data-part=".main-right" data-target=".main-through">
        <div data-level="top" class="level1">
            {% set cateUser = ('reguserattr_1')|getFormField('usertype') %}
            {% for item1 in cateUser %}
              <a data-level="1"  href="{{(action)|U({usertype:item1.id})}}"  data-role="jump">{{ item1.name }}</a>
            {% endfor %}
        </div>
</section>

{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'selectFormField',
        title: '状态',
        form: 'wages',
        field: 'pay_status',
    },
    {
        method: 'search',
        field: 'name',
        title: '请搜索ID/申请人/电话',
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ "/show")|U }}',
        submitUrl : '{{ (action ~ "/save")|U }}',
        deleteUrl : '{{ (action ~ "/delete")|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                  {# <th width="40" class="tac">{{core_manage.checkbox()}}</th> #}
                    <th width="80" data-role="sort" data-sort="id" class="sort tac">ID</th>
                    <th data-role="sort" data-sort="username" class="sort">申请经纪人</th>
                    <th data-role="sort" data-sort="username" class="sort">申请人</th>
                    <th data-role="sort" data-sort="username" class="sort">电话</th>
                    <th data-role="sort" data-sort="username" class="sort">金额</th>
                    <th width="100" data-role="sort" data-sort="createTime" class="sort">提取时间</th>
                    <th width="60">状态</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount != 0 %}
                {% for k, vo in ident.info.data %}
                {% set vo1 = vo.attributes %}
                {% set user_apply = ('db.users')|getRow({id: vo.member_account|default(0)}) %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{ vo.id }}</td>
                    <td> {{ user_apply.nicename|default(user_apply.username|default('-')) }} </td>
                    <td> {{ vo.name }} </td>
                    <td> {{ vo.tel }} </td>
                    <td> {{vo.amount}} </td>
                    <td> {{vo.time|date('Y-m-d')}} </td>
                    <td>
                        {% if vo.pay_status == 3 %}
                            失效
                        {% else %}
                            {{ core_global.formField({value: vo.pay_status, form: 'wages', field: 'pay_status'}) }}
                        {% endif %}
                    </td>
                    <td class="tac">
                        {% if vo.pay_status == 0 %}
                            {{ core_manage.show() }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="8" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>
{# {{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    }
]) }} #}
{% endblock %}

{% block promptUl %}
{# 提示说明 #}
{% endblock %}



