{% extends 'HouseBundle:Member:j_detail.html.twig' %}
{% set title_users_act = '介绍' %}

{% set nav_users_act = 3 %}

{% block right %}
<div class="jshao">
    <div class="subT">
        <p><i></i>个人介绍</p>
    </div>
    <div class="jshao-main">
        <div class="jshao-box">
            <p>姓名&nbsp;:&nbsp;<span>{{detail_name|default('')}}</span></p>
            <p>从业年限&nbsp;:&nbsp;<span>{{detail_info.cynx|default('-')}}年</span></p>
            <p>手机&nbsp;:&nbsp;<span>{{detail.tel|default('')}}</span></p>
            <p>邮箱&nbsp;:&nbsp;<a href="mailto:{{detail.email|default('')}}" target="_blank">{{detail.email|default('')}}</a></p>
        </div>
        <div class="jshao-box">
            <p>详细介绍：<span>
                {{ core_global.content({ content: detail_info.dpgg|default(''), default: '暂无介绍'}) }}
            </span>
            </p>
        </div>
    </div>
</div>
{% endblock right %}