{% extends 'AutoBundle::mainlayout.html.twig' %}

{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}
{% block mainMenu %}
    {{ parent() }}
{% endblock %}

{% block tableMain %}
<section>
    <section class="main-oprate">
        <div class="mb10">
            {{ lists.oprate([
                    'selectField|checked|cars',
                    'search|name|车款名称',
                ]) }}
        </div>        
    </section>
    <div class="list-con">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="5%" class="tac">{{forms.checkbox('.right-table')}}</th>
                    <th width="5%" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th data-role="sort" data-sort="name" class="sort">名称</th>
                    <th width="20%">指导价</th>
                    <th width="20%">报价</th>
                    <th width="10%">报价时间</th>
                    <th width="10%">审核</th>
                    <th width="10%" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined %}
                {% for k, vo in ident.info.data %}
                {% set carsData = ('db.cars')|getRow({id: vo.carid}) %}
                    {# {{dump(carsData)}} #}
                <tr data-id="{{ vo.id }}" data-url="{{'catepricemanage/save'|U('id=' ~ vo.id)}}">
                    <td class="tac">{{forms.checkbox(vo.id)}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ carsData.name|default('') }}</td>
                    <td>{{ carsData.guidePrice|default('-') }}</td>
                    <td><span data-role="itemEdit" data-name="oprice" class="edit">{{ vo.oprice|default('-') }}</span></td>
                    <td>{{ vo.createTime|date('Y-m-d') }}</td>
                    <td>{{lists.field(vo.checked, 'checked', 'cars_offer')}}</td>
                    <td class="tar pr10">
                        {{ forms.show((action~'/show')|U('id='~vo.id)) }}
                        {{ forms.delete((action~'/delete')|U('id='~vo.id)) }}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {{lists.page(ident.info)}}
    </div>
</section>
{% endblock %}


{% block promptUl %}
{# 提示说明 #}
{% endblock %}

