{% extends "ManageBundle::mainlayout.html.twig" %}
{% block js %}
<script type="text/javascript">
seajs.use("{{ bundlepath }}/js/models",function(m){
	//js入口	    
	m.init('main');
});
</script>
{% endblock %}

{% block tableMain %}
<span class="tableDesc">
        角色列表<input type="button" id="btnfun_show" data="{{ (action~'/show')|U }}" class="search-btn" value="新增角色" />
</span>
<table class="right-table">
	<tbody>
		<tr>
			<th class="w30"></th>
			<th class="w200 txtleft">角色名称</th>
			<th class="txtleft">备注</th>
			<th class="w50 txtleft">排序</th>
			<th class="w350">操作</th>
		</tr>
		{% if info.data is defined %}
		{% for key,vo in info.data %}
		<tr>
		    <td></td>
			<td>{{ vo.name|default('') }}</td>
			<td>{{ vo.serviceName|default('') }}</td>
			<td>{{ vo.title|default('') }}</td>
			<td class="txtcenter">
				<input type="button" id="btnfun_edit_{{action}}" data="{{ (action~'/show')|U('id='~vo.id) }}" class="search-btn" value="修改" />&nbsp;&nbsp;
				<input type="button" id="btnfun_delete_{{action}}" data="{{ (action~'/delete')|U('id='~vo.id) }}" class="search-btn" value="删除" />&nbsp;&nbsp;
				<input type="button" id="btnfun_jump_{{action}}" data="{{ ('modelsfield')|U('id='~vo.id) }}" class="search-btn" value="字段" />&nbsp;&nbsp;
				<input type="button" id="btnfun_edit_{{action}}" data="{{ (action~'/cache')|U('id='~vo.id) }}" class="search-btn" value="重置缓存" />&nbsp;&nbsp;
				<input type="button" id="btnfun_export_{{action}}" data="{{ (action~'/export')|U('id='~vo.id) }}" class="search-btn" value="导出安装文件" />
			</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>
{% endblock %}

{% block submit %}{% endblock %}
{% if routeData is defined %}
{% block pageIndex %}{{info.pageIndex|default(1)}}{% endblock %}
{% block pageCount %}{{info.pageCount|default(1)}}{% endblock %}
{% endif %}
{% block promptUl %}
	<li></li>
{% endblock %}