{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set models_table = ('db.models')|getOne('name', {id: models}) %}
{% set category = app.request.get('category') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }}
    {{ core_manage.show({
            title: '<i class="font-ico-31 mr5"></i>手动统计',
            url: ('avgprice/index')|U({}) ,
        })
    }}
{% endblock %}

{% block mainleft %}
    {{ core_manage.main_left({triggerNext : 1}) }}
{% endblock mainleft %}

{% block tableMain %}
{% set filter_opt = [
    {
        method: 'search',
        field: 'name',
        title:'请搜索月份'
    }
] %}
{% if app.request.get('level', 0) == 2 %}
    {% set filter_opt = [{
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增记录'
    }]|merge(filter_opt) %}
{% endif %}
{{ core_manage.filter(filter_opt) }}

    <section class="list-con" data-param="{
            defUrl    : '{{ (action)|U }}',
            showUrl   : '{{ (action ~ "/show")|U }}',
            submitUrl : '{{ (action ~ "/save")|U }}',
            deleteUrl : '{{ (action ~ "/delete")|U }}',
            fixed     : '.filter',
            list      : '.list-con',
            data      : {
                models: '{{ models }}',
                models_table: '{{ models_table }}',
                category: '{{ category }}'
            }
        }">
        <div class="list">
            <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                        <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                        <th data-role="sort" data-sort="months" class="sort">月份</th>
                        <th width="100">区域</th>
                        <th width="100"data-role="sort" data-sort="price" class="sort">均价</th>
                        <th width="150" class="tac">操作</th>
                    </tr>
                    {% if ident.info.data is defined and ident.info.pageCount|default(0) != 0 %}
                    {% for k, vo in ident.info.data %}
                    <tr data-id="{{ vo.id }}">
                        <td class="tac">{{core_manage.checkbox()}}</td>
                        <td>{{ vo.id }}</td>
                        <td>{{ vo.months|date('Y-m') }}</td>
                        {% set area_title = vo.area|getAreaName|default('（主站）') %}
                        <td>{{ area_title }}</td>
                        <td>{{ vo.price }}元/{% if category == 198 %}月{% else %}m&sup2;{% endif %}</td>
                        <td class="tac">
                            {{ core_manage.show() }}
                            {{ core_manage.delete() }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {{core_manage.page(ident.info)}}
    </section>

    {{ core_manage.oprate([
        {
            method: 'delete',
            title: ' <i class="font-ico-del mr5"></i>批量删除',
        }
    ]) }}
{% endblock %}


{% block promptUl %}
{# 提示说明 #}
{% endblock %}



