
{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
    {% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
{% block mainMenu %}
    {{ parent() }} 
    {{ core_manage.show({
     url: (action ~ '/import')|U({}) ,
     'data-reload':1,
     title: '导入不良词',
     class: 'btn',
     attr: ''
}) }}
 {{ core_manage.btn({
     url: (action ~ '/export')|U({}) ,
     title: '导出不良词',
     class: 'btn',
     attr: ''
}) }}
{% endblock %}
{% block mainleft %}
{% endblock mainleft %}
{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增不良词'
    },
    {
        method: 'search',
        field: 'name',
    }
]) }}

<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
            category: '{{ category }}'
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>不良词</th>
                    <th width="400">替换</th>
                    
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined %}
                {% for k, vo in ident.info.data %}
                    {# {{dump(vo)}} #}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{vo.kwbad}}</td> 
                    <td  >{{vo.kwrep}}</td>
                    <td class="tar pr10">
                        {{ core_manage.show() }}
                        {{ core_manage.delete() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="5" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>
{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    }
]) }}
{% endblock %}
{% block promptUl %}
<p>1.不良词可以使用标识 {d} 以设定可忽略的最大字符字数（d为大于0的整数）。例：不良词设为a{1}b{2}c ，则abc、a*b*c、a*b**c（*为任意单个字符）均属被替换对象。</br>
替换词设为空，表示该不良词被过滤。</p>
{% endblock %}




