{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default('Business:detail') ~ '.html.twig' %}

{% block b_header %}
    {{core_mobile_global.title({title: '点评'})}}
{% endblock b_header %}

{% set nav_business_act = 5 %}

{% block key_des %}
<meta name="keywords" content="{{cur_area_data|default('')}}{{detail.name|default('')}}怎么样，{{detail.name|default('')}}好不好，{{detail.name|default('')}}好吗" />
<meta name="description" content="{{cur_area_data|default('')}}{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}提供{{detail.name|default('')}}房价、户型、质量、物业、附近交通、环境、配套等方面的点评，详细分析{{cur_area_data|default('')}}{{detail.name|default('')}}楼盘详情优缺点，为您买房置业提供参考信息。 "/>
{% endblock key_des %}

{% block container %}
<div data-block="{
        bParams: true,
        ajax: {
            url: '{{ ('bundlebindforms/comment')|U }}',
            data: {
                aid: '{{ detail.id|default('') }}',
                formflag: 'view_houses_comment',
                models: 'inter_housescomment'
            }
        }
    }"></div>
{% endblock container %}

{% block secondary %}
    {% set nav_active = 5 %}
    {{ parent() }}
{% endblock secondary %}