{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default(':base') ~ '.html.twig' %}
{# 说明
 * detail: 当前数据
 * tpl_title: 模板标题
 * tpl_id: 模板id
 * d_models: 当前数据模型
#}
{% set detail = ident.detail.data[0]|default('') %}
	
{% set d_models = 'sale' %}

{% set tpl_title = detail.officetype|default('') ? '写字楼' : '商铺' %}
	
{% block title %}
{{detail.name|default('')}}，{{detail.address|default('')}}二手房{{house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'})}}
{% endblock title %}

{% block key_des %}
<meta name="keywords" Content="{{cur_area_data|default('')}}二手房出售,{{detail.lpmc|default('')}}二手房,{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'}) -}} 二手房"/>
<meta name="description" content="{{cur_area_data|default('')}}二手房-{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}提供{{cur_area_data|default('')}}{{detail.lpmc|default('')}}二手房出售信息，{{detail.address|default('')}}，{{detail.lpmc|default('')}}二手房出售，{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'}) -}}。找更多{{cur_area_data|default('')}}{{detail.lpmc|default('')}}二手房信息就到{{cur_area_data|default('')}}二手房-{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}。"/>
{% endblock key_des %}

{% block header_title %}
{{core_mobile_global.title({title: tpl_title ~ '出售'})}}
{% endblock header_title %}

{% block container %}

	<div data-block="{
	    bParams: true,
	    ajax:{
	        url: '{{ ('business/sdetail')|U }}',
	        data: {
	            id: '{{ detail.id|default('') }}',
	            tpl: 'Business:sdetailblock',
	            d_models: 'sale',
	            tpl_title: '{{tpl_title}}'
	        }
	    }
	}"></div>
{% endblock container %}

{% block popup %}
	{# 预约 #}
	{{ housemobile_global.popup({
	    name: 'popup-yy',
	    title: '预约',
	    content: {
	        bParams: true,
	        ajax:{
	            url: ('business/sdetail')|U,
	            data: {
	                id: detail.id|default(''),
	                formflag: 'view_sale_intent',
	                tpl: 'Common:forms',
	                submit_id: 'yuyue',
	                models: 'sale',
	                cate_pushs: 'syixiang'
	            }
	        }
	    }
	}) }} 

	{# 举报 #}
	{{ housemobile_global.popup({
	    name: 'popup-jbao',
	    title: '举报',
	    content: {
	        bParams: true,
	        ajax:{
	            url: ('business/sdetail')|U,
	            data: {
	                id: detail.id|default(''),
	                formflag: 'view_sale_report',
	                tpl: 'Common:forms',
	                submit_id: 'jubao',
	                models: 'sale',
	                cate_pushs: 'sreport'
	            }
	        }
	    }
	}) }} 

	{# 地图弹窗 #}

	{{ housemobile_global.popup({
	    name: 'popup-map',
	    title: '二手地图',
	    content: {
	        bParams: true,
	        ajax: {
	            url: ('business/sdetail')|U,
	            data: {
	                id: detail.id|default(''),
	                tpl: 'Common:mapblock'
	            }
	        }
	    }
	}) }}
{% endblock popup %}