{% extends app.request.get('ajax') ? 'HousemobileBundle:Clist:extractlist.html.twig' : 'HousemobileBundle::list_layout.html.twig' %}

{% block title %}
    【{{cur_area_data|default('')}}佣金提取|{{cur_area_data|default('')}}佣金】_{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}佣金提取平台
{% endblock title %}

{% block key_des %}
<meta name="keywords" content="{{cur_area_data|default('')}}佣金提取,{{cur_area_data|default('')}}佣金提取管理" />
<meta name="description" content="{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}{{cur_area_data|default('')}}二手房网为您提供快速全面的{{cur_area_data|default('')}}二手房信息及新发布{{cur_area_data|default('')}}二手房价格。大量优质二手房实时更新，为您创造舒适二手房购房体验。" />
{% endblock key_des %}

{% set zhu_nav = 2 %}

{% block header_title %}
{{core_mobile_global.title({title: '佣金提取'})}}
{% endblock header_title %}

{% block nav %}
    <div data-block="{
        bParams: true,
        ajax:{
            url: '{{ ('bundlebindforms/ajax')|U }}',
            data: {
                tpl: 'Muserbrokerage:navblock'
            }
        }
    }"></div>
{% endblock nav %}

{% block container %}
    {% set list_url = ('muserbrokerage/muserextract')|U({ajax: 1}) %}
    {{ parent() }}
{% endblock container %}



{% block popup %}
    {{ housemobile_global.popup({
        name: 'popup-news',
        title: '佣金提取',
        content: {
            bParams: true,
            ajax:{
                url: ('main/mindex')|U,
                data: {
                    formflag: 'view_wages',
                    tpl: 'Common:forms'
                }
            }
        }
    }) }} 
{% endblock popup %}
