
{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set topic = app.request.get('topic') %}
{% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {# {{ parent() }}  #}
{% endblock %}


{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增区块',
        url: (action ~ '/show')|U({ topic: topic }),
    },
]) }}

<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            topic: '{{ topic }}',
            aid: '{{ aid }}'
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>区块</th>
                    <th width="80">文档</th>
                    <th width="80">模型</th>
                    <th width="80">标识</th>
                    <th width="80">审核</th>
                    <th width="80" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {# {{ dump(ident.info.data) }} #}
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td class="tov" title="{{ vo.name|default('') }}"><span data-role="itemEdit" data-item-edit="name" class='edit'>{{ vo.name }}</span></td>
                    <td><a data-role="show" title="{{ vo.name }}的文档" href="{{ ('mtopic/mtopicarcmanage')|U({ename: vo.ename}) }}">管理</a></td> 
                    <td>{{ vo.models }}</td>
                    <td>{{ vo.ename }}</td>
                    <td>{{ core_global.formField({value: vo.checked}) }} </td>
                    <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                    <td class="tar pr10">
                        {{ core_manage.show() }}
                        {{ core_manage.delete() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="10" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    },
]) }}
{% endblock %}

{% block promptUl %}
{% endblock %}




