{% extends 'HouseBundle::base_manage_block.html.twig' %}

{% set category = app.request.get('category') %}
{% set category_data = ('house.category')|getRow({id: category, findType: 1}) %}
{% set models = category_data.models|default('') %}
{% set aid = category_data.aid|default('') %}
{% set block_url = ('mtopic/mtopicarc')|U({block_models: 'topic_arc'}) %}
    
{% set form_id = category_data.form_id|default('') %}

{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }}
    {{ core_manage.jump({
        title: '<i class="font-ico-10 mr5"></i>评论',
        url: 'mintercomment/mintercommentmanage'|U
    }) }}
{% endblock %}


{% block mainleft %}
    {{ core_manage.main_left({triggerNext : 1}) }}
{% endblock mainleft %}

{% block tableMain %}
{% set filter_opt = [
    
    {
        method: 'selectFormField',
        title: '审核',
        form: 'checked',
        field: 'checked',
    },
    {
        method: 'search',
        field: 'name',
        title:'请搜索ID/标题'
    }
] %}
{% if category_data.is_next|default(false) == false %}
    {% set filter_opt = [{
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增专题'
    }]|merge(filter_opt) %}
{% endif %}
{{ core_manage.filter(filter_opt) }}

<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U({_form_id: form_id}) }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
          category: '{{ category }}',
               aid: '{{ aid }}',
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>标题</th>
                    <th width="100">区块</th>
                    <th width="100">投票</th>
                    <th width="100">评论</th>
                    <th width="100">审核</th>
                    <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined  and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td class="tov" title="{{ vo.name|default('') }}"><a href="{{ ('topic/detail')|U({id: vo.id}) }}" target="_blank">{% if vo.thumb %}<i class="font-ico-tp mr5 fcr"></i>{% endif %}{{ vo.name }}</a></td>
                    <td><a title="{{ vo.name }}的区块" data-role="show" href="{{ block_url }}&aid={{ vo.id }}">[管理]</a></td>
                    <td><a data-role="show" title="{{vo.name}}的投票" href="{{('vote/votemanage')|U({aid: vo.id})}}">[{{ core_global.count({models: 'vote', sql_opt: {checked: 1, aid: vo.id} }) }}]</a></td> 
                    <td><a data-role="show" title="{{vo.name}}的评论" href="{{('mintercomment/mintercommentmanage')|U({aid: vo.id, toid: 0})}}">[{{ core_global.count({models: 'inter_comment', sql_opt: {aid: vo.id} }) }}]</a></td> 
                    <td>{{ core_global.formField({value: vo.checked}) }} </td>
                    <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                    <td class="tar pr10">
                        {{ core_manage.show() }}
                        {{ core_manage.delete() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="10" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    }
]) }}
{% endblock %}

{% block promptUl %}
{# 提示说明 #}
{% endblock %}




