{% extends 'HouseBundle:Msale:msalearc.html.twig' %}
{% block mainleft %}{% endblock %}   
 
{% block tableMain %} 
    {{ lists.filter([
        {
            method: 'selectFormField',
            title: '审核',
            form: 'checked',
            field: 'checked',
        },
        {
            method: 'search',
            field: 'name',
        }
    ]) }}

    <div class="list-con" data-param="{{ params }}">
         <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{forms.checkbox()}}</th>
                        <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                        <th width="100">受委托人</th>
                        <th width="100">委托状态</th>
                       
                        
                        <th width="100" data-role="sort" data-sort="create_time" class="sort">委托时间</th>
                        
                    </tr>
                 
                    {% if block_arc_data.data|length %}
                    {% for k, vo in block_arc_data.data %} 
                                         
                    <tr data-id="{{ vo.id }}">
                        <td class="tac">{{forms.checkbox()}}</td>
                        <td>{{ vo.id }}</td>
                        <td>{{ ('db.users')|getOne('username',{id:vo.uid})}}</td>
                        <td>委托状态</td>
                        <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
            </table>
            {{lists.page(block_arc_data)}}
        </div>

    {{ lists.oprate([
        {
            method: 'delete',
            title: '<i class="font-ico-del mr5"></i>批量删除',
        },
        {
            method: 'dropdownFormField',
            field: 'checked',
            form: 'checked',
            title: '审核',
        }
    ]) }}
{% endblock %}
