{% extends 'HousemobileBundle::base_ajax.html.twig' %}

{% set detail = detail|default(cident.detail.data[0]|default('')) %}

{% block result %}
<div class="bar bar-tools special-bar">
    <span class="conact1">
    	{{detail.xingming|default('')}}<br>{{detail.tel|default('更新中...')}}
    </span>
    <a class="external" href="tel:{{detail.tel|default('')}}">
    	<span class="icon font-f-19"></span>拨打电话
    </a>
</div>
<div class="content">
	{{- core_mobile_global.swiper_one(detail) -}}
	<div class="list-block list-block-rent list-block-rent-mt0">
        <ul>
            <li class="item-content">
                <div class="item-inner">
                    <div class="m">
                        <div class="t">
                        	{{detail.name|default('')}}
                        	{{ core_global.formData({value: detail.cate_status|default(''), tpl: '<span class="tag tag-green">%value%</span>'}) }}
                        </div>
                        <div class="p">
                            {{house_global.if_wy({value: detail.zj|default(''), class: 'l p-red'})}}
                            {{house_global.if_wy({value: detail.yj|default(''), tpl: '<span class="price-old">%value%%danwei%</span>'})}}
                        	<span class="pull-right mt5">
                        		{{house_global.if_mj({value: detail.mj|default('')})}}
                        	</span>
                        </div>
                        <div class="p p-gray">
                        	发布日期：{{detail.update_time|default('')|date('Y-m-d')}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="list-block panel-block">
        {{- housemobile_global.panel_title({title: '更多属性'})-}}
        <div class="item-content1 p-gray">
            <div class="item-inner2">
                <div class="row">
                    <div class="col-50">
                        户型：{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'}) -}}
                    </div>
                    <div class="col-50">
                        楼层：第{{detail.szlc|default('')}}层/共{{detail.zlc|default('')}}层
                    </div>
                    <div class="col-50">
                        朝向：{{ core_global.formData({value: detail.cx|default(''), form: 'house.category', tpl: '<span>%value%</span>'}) }}
                    </div>
                    <div class="col-50">
                        装修程度：{{ core_global.formData({value: detail.zxcd|default(''), form: 'house.category', tpl: '<span>%value%</span>'}) }}
                    </div>
                    <div class="col-50">
                        楼号：{{core_global.if_dw({value: detail.lh|default(''), danwei: '号楼'})}}
                    </div>
                    <div class="col-50">
                        房号：{{core_global.if_dw({value: detail.fh|default(''), danwei: '号'})}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set special_same = ('house.special')|getAll({ting: detail.ting|default(''), shi: detail.shi|default(''), checked: 1, id: 'neq|' ~ detail.id|default('')}) %}
	<div class="list-block media-list">
	    {{- housemobile_global.panel_title({title: '同居室楼盘'})-}}
        <ul>
        	{{ render(controller('HouseBundle:Clist:special_list', {_isApp: url_isApp, list: special_same})) }}
        </ul>
	</div>
	{{ render(controller('HouseBundle:Common:footer', {_isApp: url_isApp})) }}
</div>
{% endblock result %}