{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
    {% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }} 
     {{ core_manage.jump(
        {
           title: '分站管理员',
           url: ( 'mauthority/mauthorityaccessarea')|U       
        }
        ) }}
{% endblock %}

{% block mainleft %}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
  {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增分站'
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
            category: '{{ category }}'
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    {# <th width="40" data-role="sort" data-sort="id" class="sort">ID</th> #}
                    <th>标题</th>
                    <th width="120">分站设置</th>
                    <th width="100">排序</th>
                    <th width="100">启用</th>
                    <th width="200" class="tac">操作</th>
                </tr>

                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    {# <td>{{ vo.id }}</td> #}
                    <td>{{ vo.name }}</td>
                      
                    <td>
                        {% set areas =  vo.rulesarea|getAreaName|default('主站') %}
                            {{ areas }}
                    </td>
                  <td><span data-role="itemEdit" data-name="sort" class='edit'>{{vo.sort}}</span></td>
                  <td>{{ core_global.formField({value: vo.checked, form: 'authorityareashow', field: 'checked'}) }}</td>
                   {#  <td>
                        {% set members = ('db.auth_access_area')|getCol('uid',{group_id: vo.id}) %}
                        {% for item in members %}
                            {% set users = ('db.users')|getOne('username',({id: item})) %}
                        {{ users }},    
                        {% endfor %}
                    </td> #}
                    <td>
                        {{ core_manage.show() }}
                        {{ core_manage.show({
                             url: ('mauthority/Mauthorityaccessarea')|U({aid: vo.id, type: 1 }),
                             title: '分站管理员',
                             class: 'btn',
                             attr: ' '
                        }) }}
                        {% if vo.issystem != 1  %}
                        {{ core_manage.delete() }}
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="6" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'authorityareashow',
        title: '开启',
    }
]) }}
{% endblock %}
{% block promptUl %}
分站设置: 如, 只有一个站点, 则直接修改默认城市即可, 如, 多个分站, 请直接添加即可<br>
设置分站管理员, 在成员列表中增加, 则表示该会员有此分站权限<br>
一个管理员只能管理一个分站, 一个分站可以有多个管理员
{% endblock %}




