{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default(':base') ~ '.html.twig' %}
{# 说明
* prices： 当前区域价格表
* month_now：本月价格
* month_prev：上月价格
* push_rexiaoloupantuijian: 热门楼盘推荐
#}
{% set prices = ident.prices|default('') %}

{% set month_now = prices.data[0]|default('') %}

{% set month_prev = prices.data[1]|default('') %}

{% block title %}
    {{cur_area_data|default('')}}房价_{{cur_area_data|default('')}}房价走势{{'now'|date('Y')}}-{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}{{cur_area_data|default('')}}查房价网
{% endblock title %}

{% block key_des %}
<meta name="keywords" content="{{cur_area_data|default('')}}房价,{{cur_area_data|default('')}}房价走势,{{cur_area_data|default('')}}房价走势图,{{cur_area_data|default('')}}房价走势最新消息，{{cur_area_data|default('')}}查房价。" />
<meta name="description" content="{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}{{cur_area_data|default('')}}查房价网提供{{cur_area_data|default('')}}房价走势最新消息，发布{{cur_area_data|default('')}}房价走势信息，{{cur_area_data|default('')}}房价全部查询。" />
{% endblock key_des %}

{% block header_title %}
    {{core_mobile_global.title({
        title: ''~ cur_area_data|default('') ~'房价查询'
    })}}
{% endblock header_title %}

{% block container %}
    <div data-block="{
        bParams: true,
        ajax:{
            url: '{{ ('houses/cfj')|U }}',
            data: {
                tpl: 'Houses:cfjblock'
            }
        }
    }"></div>
{% endblock container %}

{% block popup_search %}
    {% set search_action = ('houses/list')|UU %}
    {{ parent() }}
{% endblock popup_search %}


{%block js%}
<script type="text/javascript" src="{{asset('static/housemobile/js/public.js') }}"></script>
<script>
seajs.use([], function() {
  $(function(){
    var url = '';//跳回首页需要的
    var type = 'group';//本次定义的参数
    //拿取id并拼接url
    {# 当前分站id #}
    {% set sess_area = app.session.get('area')|default(0) %}
    {% set city = ('db.auth_group_area')|getAll({
        rulesarea:sess_area,
        pageSize: 1,
        order   : 'sort',
        orderBy : 'asc'
    }) %}
    {% set cityName = city.data[0].city%}
    url="{{ 'http://m.zhugefang.com/'~cityName}}"

    //获取url上特定参数
    {% set urlForm = app.request.get('group') %}
    var urlForm = '{{urlForm}}'

    //调用公共方法跳回首页
    zgCommon.backIndex(url,urlForm,type)
   })
})
</script>
{%endblock%}
