{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default('Houses:detail') ~ '.html.twig' %}


{#全网点评#}
{% set detail = detail|default(cident.detail.data[0]|default('')) %}
{% set qwdp_data = ('house.inter_housescomment')|getAll({aid:detail.id,pageSize:20,pageIndex:1,order:'create_time|desc'}) %}
{% set phone = detail.web_tel?detail.web_tel:detail.tel %}
{% block h_title %}
怎么样_{{detail.name|default('')}}评价
{% endblock h_title %}

{% block d_header %}
    <h1 class="title">全网点评</h1>
{% endblock %}

{% block key_des %}
<meta name="keywords" content="{{cur_area_data|default('')}}{{detail.name|default('')}}怎么样，{{detail.name|default('')}}好不好，{{detail.name|default('')}}好吗" />
<meta name="description" content="{{cur_area_data|default('')}}{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}提供{{detail.name|default('')}}房价、户型、质量、物业、附近交通、环境、配套等方面的点评，详细分析{{cur_area_data|default('')}}{{detail.name|default('')}}楼盘详情优缺点，为您买房置业提供参考信息。 "/>
{% endblock key_des %}

{# 导航 #}
{% block secondary %}
    {#{% set nav_active = 6 %}#}
    {#{{ parent() }}#}
{% endblock secondary %}
{% block header_right %}
{% endblock header_right %}
{% block container %}
{#<div data-block="{
        bParams: true,
        ajax: {
            url: '{{ ('bundlebindforms/comment')|U }}',
            data: {
                aid: '{{ detail.id|default('') }}',
                formflag: 'view_houses_comment',
                models: 'inter_housescomment'
            }
        }
    }"></div>#}
    {# 底部电话咨询 #}
    {% include 'HousemobileBundle:Clist:phone_call.html.twig' %}
    {# 全网比价查看更多弹窗 #}
    {% include 'HousemobileBundle:Clist:viewsource_popup.html.twig' %}
    <div class="dqwdp-box">
        {% if qwdp_data and qwdp_data.data|length>0 %}
            <div>
                {% for key,item in qwdp_data.data %}
                    <div class="network_block j_qwdpCon">
                        <p class="network_top">用户*****<i class="network_time">{{ item.comment_source }} {{ item.create_time|date('Y-m-d') }}</i></p>
                        <div class="network_body">
                            {{ item.content }}
                            {% if item.comment_source and item.source %}
                                <a class="network_more viewSource" channel="{{ item.comment_source }}" data="{{ item.source }}">( 查看来源 )</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock container %}






