{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default('Houses:detail') ~ '.html.twig' %}

{#楼盘动态数据#}
{% set detail = cident.detail.data[0]|default('') %}
{#置业顾问#}
{% set zygw_data = ("house.inter_adviser")|getAll({aid:detail.id,pageSize:5}) %}
{% block h_title %}
    怎么样_{{detail.name|default('')}}评价
{% endblock h_title %}

{% block d_header %}
    <h1 class="title">新房顾问</h1>
{% endblock %}

{% block key_des %}
    <meta name="keywords" content="{{cur_area_data|default('')}}{{detail.name|default('')}}怎么样，{{detail.name|default('')}}好不好，{{detail.name|default('')}}好吗" />
    <meta name="description" content="{{cur_area_data|default('')}}{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}提供{{detail.name|default('')}}房价、户型、质量、物业、附近交通、环境、配套等方面的点评，详细分析{{cur_area_data|default('')}}{{detail.name|default('')}}楼盘详情优缺点，为您买房置业提供参考信息。 "/>
{% endblock key_des %}

{# 导航 #}
{% block secondary %}
    {#{% set nav_active = 6 %}#}
    {#{{ parent() }}#}
{% endblock secondary %}
{% block header_right %}
{% endblock header_right %}
{% block container %}
    <div class="dxfgw">
        <div class="dxfgw-box">
            {#新房顾问#}
            {% if zygw_data and zygw_data.data|length>0 %}
                {% for item in zygw_data.data %}
                    <div class="network_block" style="padding-right:0;">
                        <div class="new_house_left" {% if item.thumb %}style="background:url({{ '/'~item.thumb }})"{% endif %}>{% if item.thumb is empty %}<i class="iconfont icon-xiaoqu"></i>{% endif %}</div>
                        <div class="new_house_center">
                            <p class="new_title">{{ item.name }}</p>
                            <p class="new_type">{% if item.channel %}{{ item.channel }}-新房顾问{% else %}{{ '新房顾问' }}{% endif %}</p>
                        </div>
                        <a href="tel:{{ item.tel }}">
                            <div class="new_house_right">
                                <i class="iconfont icon-dianhua2 dianhua"></i>
                                <i class="dianhua_text">电话</i>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">

    </script>

{% endblock container %}
