{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default(':base') ~ '.html.twig' %}
{# 说明
 * detail： 数据
#}
{% set detail = cident.detail.data[0]|default('') %}

{% block title %}
{{detail.lpmc|default('')}}小区租房，{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%'}) -}},{{detail.name|default('')}}, {{detail.address|default('')}}租房
{% endblock title %}

{% block key_des %}
<meta name="keywords" Content="{{core_global.region({id: detail.region|default(''), tpl: '%value%'})}}租房网，{{core_global.region({id: detail.region|default(''), tpl: '%value%'})}}租房，{{detail.lpmc|default('')}}租房"/>
<meta name="description" content="{{core_global.region({id: detail.region|default(''), tpl: '%value%'})}}{{detail.lpmc|default('')}}小区{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%'}) -}}出租，{{ core_global.formField({value: detail.zlfs|default(''), form: 'rent', field:'zlfs'}) }}，租金{{detail.czj|default('')}}元/月，{{house_global.lptag({value: detail|default(''), tpl: '%value%', con: 'zxcd'})}}，{{detail.mj|default('')}}㎡，小区地址：{{detail.address|default('')}}。房子{{house_global.lptag({value: detail|default(''), tpl: '%value%', con: 'zxcd'})}}"/>
{% endblock key_des %}

{% block header_title %}
{{core_mobile_global.title({title: '出租'})}}
{% endblock header_title %}


{% block popup %}
{# {% include 'HousemobileBundle:Sale:mapblock.html.twig' ignore missing %}
{% include 'HousemobileBundle:Sale:yixiangblock.html.twig' ignore missing with {tpl_id: detail.id|default('')} %} #}
{# 预约 #}

{{ housemobile_global.popup({
    name: 'popup-yy',
    title: '预约',
    content: {
        bParams: true,
        ajax:{
            url: ('rent/detail')|U,
            data: {
                id: detail.id|default(''),
                formflag: 'view_sale_intent',
                tpl: 'Common:forms',
                submit_id: 'yuyue',
                models: 'rent',
                cate_pushs: 'syixiang'
            }
        }
    }
}) }} 

{# 举报 #}
{{ housemobile_global.popup({
    name: 'popup-jbao',
    title: '举报',
    content: {
        bParams: true,
        ajax:{
            url: ('rent/detail')|U,
            data: {
                id: detail.id|default(''),
                formflag: 'view_sale_report',
                tpl: 'Common:forms',
                submit_id: 'jubao',
                models: 'rent',
                cate_pushs: 'sreport'
            }
        }
    }
}) }} 

{# 地图弹窗 #}

{{ housemobile_global.popup({
    name: 'popup-map',
    title: '出租地图',
    content: {
        bParams: true,
        ajax: {
            url: ('rent/detail')|U,
            data: {
                id: detail.id|default(''),
                tpl: 'Common:mapblock'
            }
        }
    }
}) }} 
{% endblock popup %}

{% block container %}
{# 主体内容 #}
<div data-block="{
    bParams: true,
    ajax:{
        url: '{{ ('rent/detail')|U }}',
        data: {
            id: '{{ detail.id|default('') }}',
            tpl: 'Rent:detailblock',
            d_models: 'rent'
        }
    }
}"></div>
 {# 微信分享只能放当前页 #}
    {{ housemobile_global.weixin_share({
        text    : detail.name|default,
        abstract: detail.abstract|default,
        url     : ('rent/detail')|U({id: detail.id|default}, true),
        thumb   : detail.thumb|default,
    }) }}
{% endblock container %}