{% extends 'HouseBundle::base.html.twig' %}
{# 手机框架公用宏 #}
{% import "CoreBundle:Macro:mobile_global.html.twig" as core_mobile_global %}
{% import "CoreBundle:Macro:mobile_forms.html.twig" as core_mobile_forms %}
{# 房产手机独用宏 #}
{% import "HousemobileBundle:Macro:global.html.twig" as housemobile_global %}

{% set url_isApp = app.request.get('_isApp', 0) %}

{% block doctype %}
<!DOCTYPE html>
{% endblock doctype %}

{# 重置头部 #}
{% block header %}{% endblock header %}

{# 重置底部 #}
{% block footer %}{% endblock footer %}
{% block head_set %}
        {# 手机端meta #}
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
         {# 禁止百度搜索抓取时转码 #}
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        {% set BASE_URL = app.request.getBaseUrl() %}
        {% set version  = '?vt=0.0.1' %}
        {# 先不启用 #}
        {# {% set url_isApp = 0 %} #}
        <script>
            var url_isApp              = {{ url_isApp }};
            var csrf_token             = "{{csrf_token}}";
            var jsbase                 = "{{ url_isApp ? '../' : asset('static') }}";
            var BASE_URL               = "{{ url_isApp ? core_global.get_http() ~ '://' ~  'maindomain'|C ~ BASE_URL : core_global.get_http() ~ '://' ~  'maindomain'|C }}";
            var BASE_THEME             = "{{bundlepath}}";
            // window.UEDITOR_HOME_URL = "{{ asset('bundles') }}/core/js/vendor/ueditor/";
            var REMOTE_URL             = "{{'upload_type'|C == 'remote' ? 'up_remote_domainname'|C : '' }}"; // 远程图片路径拼接
            // 供百度兼容https使用
            var HOST_TYPE   = {{ core_global.get_http().__toString == 'https' ? 2 : 0 }};
        </script>
        {% block css_base %}
            {{housemobile_global.linkcss('static/' ~ bundlepath ~ 'mobile/css/sm.css'~version)}}
            {{housemobile_global.linkcss('static/' ~ bundlepath ~ 'mobile/css/m.css'~version)}}
            {{housemobile_global.linkcss('static/' ~ bundlepath ~ '/iconfont/iconfont.css'~version)}}
        {% endblock css_base %}
        {% block css %}{% endblock css %}

        <script type="text/javascript" src="{{ url_isApp ? '../housemobile/js/seajs.js'~version : asset('static/housemobile/js/seajs.js')~version }}"></script>
        <script type="text/javascript" src="{{ url_isApp ? '../housemobile/js/public.js'~version : asset('static/housemobile/js/public.js')~version }}"></script>
        <script type="text/javascript">
            // 试调使用方案2，上线使用方案1
            /* 方案1 */
            // {% if url_isApp %}
            //     var crossDomain = true;
            // {% else %}
            //     var crossDomain = false;
            // {% endif %}
            /* 方案2 */
            var crossDomain = false;

            seajs.use([
                'sm',
                'touch',
                'fx',
                'common'
            ], function (sm, touch, fx, common) {
                $.config = {router: false};
                // 详情页面的统计
                /*common.dcounts({
                    url: 'igetcounts/detailcounts'
                });*/
                common.getcounts({
                    url: '{{("igetcounts/index")|U}}'
                })
                common.toTop();
                // ajax调用内容
                common.block('[data-block]');

                common.adcount({
                    saveUrl : '{{("viewinter/vote")|U}}'
                });

            });

        </script>
        <!-- 启用网页URL自动推送百度搜索引擎收录。 -->
        <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?8d409b931bc5e2ac53a0cea966f06d99";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119236000-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-119236000-1');
        </script>

        <!-- 神策埋点 -->
        <script>
            (function(para) {
                var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
                w['sensorsDataAnalytic201505'] = n;
                w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
                var ifs = ['track','quick','register','registerPage','registerOnce','clearAllRegister','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
                for (var i = 0; i < ifs.length; i++) {
                    w[n][ifs[i]] = w[n].call(null, ifs[i]);
                }
                if (!w[n]._t) {
                    x = d.createElement(s), y = d.getElementsByTagName(s)[0];
                    x.async = 1;
                    x.src = p;
                    y.parentNode.insertBefore(x, y);
                    w[n].para = para;
                }
            })({
                sdk_url: 'http://zgsta.com/static/web/js/third-party/sensorsdata.min.js',
                name: 'SensorsData',
                web_url: 'http://sc.zhugefang.com:8007/?project=zhugefang',
                server_url: 'http://sc.zhugefang.com:8006/sa?token=******&project=zhugefang',
                heatmap: {
                    isTrackLink: true,
                    loadTimeout:  3000,
                    collect_url: function(){
                        return true;
                    },
                    collect_element: function(element_target){
                        // 如果这个元素有属性sensors-disable=true时候，不采集
                        if(element_target.getAttribute('sensors-disable') === 'true'){
                            return false;
                        }else{
                            return true;
                        }
                    },
                    //考虑到用户隐私，这里可以设置input里的内容是否采集
                    //如果返回真，表示采集input内容，返回假表示不采集input内容,默认不采集
                    collect_input:function(element_target){
                        return true;
                    }
                }
            });
            SensorsData.quick('autoTrack');
        </script>
{% endblock head_set %}

{% block js %}{% endblock js %}

{% block body %}
    <div class="page-group">
        <div class="page page-current">
            {# 当前page #}
            {% block current_page %}
                {# 底部导航 #}
                {% block nav %}{% endblock nav %}
                {# 顶部 #}
                {% block header_wrap %}
                    <header class="bar bar-nav 11 {{header_class|default('')}}">
                        {% block moblie_header %}
                            {% block href_a %}
                            {{core_mobile_global.go_back()}}
                            {% endblock %}
                            {% block header_title %}{% endblock header_title %}
                        {% endblock moblie_header %}
                        {# 导航 #}
                        {#{{ core_mobile_global.bar_nav_btn({
                            title: '导航',
                            icon: 'font-f-47',
                            popup: {
                                title: '频道导航',
                                popup: '.popup-major-nav',
                            }
                        }) }}#}
                        {% block header_right %} {% endblock header_right %}
                        {% block header_bottom %} {% endblock header_bottom %}
                    </header>
                {% endblock header_wrap %}
                {# 内容 #}
                {% block secondary %}{% endblock secondary %}
                {% block container %}{% endblock container %}
                {# 回到顶部 #}
                {% block toTop %}
                    <div data-to-top="1" class="toTop">
                        {#<span class="icon icon-up"></span>#}
                    </div>
                {% endblock toTop %}
                {% block download %}{% endblock download %}
            {% endblock current_page %}
        </div>
        {# 其他page #}
        {% block other_page %}{% endblock other_page %}
        {# 导航 #}
        {% block popup_nav %}
            {{ housemobile_global.popup_nav({
                current_nav: current_nav|default('')
            }) }}
        {% endblock popup_nav %}
        {# 搜索 #}
        {% block popup_search %}
            {# {% include 'HousemobileBundle:Common:topsearch.html.twig' ignore missing %} #}
            {# 内容的头 这里搜索框 #}
            {% set content_bar %}
            <form action="{{ search_action|default(app.request.get('appaction')) }}" class="form delete-line">
                <div class="searchbar row searchlist searchbar-list">
                    <div class="search-input">
                        <div class="search-back close-popup">
                            <span></span>
                        </div>
                        <a
                           {#data-role="search"#}
                           data-config="{tpl:'#history', list: '.search-list', listItem: '.search-item',text: '.text', clearBtn: '[data-clear]', size: 10}"
                           class="button button-fill button-primary col-15 sousuo sousuo-icon" href="javascript:;">
                            <span class="icon font-f-8 icon-search"></span>
                        </a>
                        <input type="search" id='search' name="name" required="required" placeholder="" />
                        <span class="search-qc-box"><i class="search-qc"></i></span>
                        <div class="search-qx close-popup">取消</div>
                    </div>

                </div>
            </form>
            <div id="search-content" class="search-content">
                <ul id="autoSearchList" class="search-auto-list">

                </ul>
            </div>
            {% endset %}
            {# 实际内容 #}
            {% set content %}
            <div class="list-block list-block-search">
                <div class="list-group list-group-history">
                    <ul>
                        <li class="list-group-title history"><span data-clear="1" class="pull-right clear-jl">清除记录</span>历史搜索</li>
                        <div class="search-list search-list-box">
                        </div>
                    </ul>
                </div>
                <div class="list-group list-group-hot" style="display: none">
                    <ul>
                        <li class="list-group-title hot-search">热门搜索</li>
                        <li class="loupan-icon"><span></span>楼盘</li>
                        <li class="item-content item-hot-search">
                            {% set hotKeys = ('mobilehotkey')|getPush() %}
                            {{- housemobile_global.searchHot({data: hotKeys}) -}}
                        </li>
                    </ul>
                </div>

            </div>
            <script type="text/javascript">
                seajs.use(['search'], function() {
                    $('.popup-search').on('opened', function() {
                        var $this = $(this);
                        var btnData = $($this.data('btn')).data();
                        btnData.title && $this.find('.title ').text(btnData.title);
                        btnData.placeholder && $this.find('[type="search"]').attr('placeholder', btnData.placeholder);
                    })
                })
            </script>
            <script id="history" type="text/html">
            <% for(var i = 0; i < data.length; i++){ %>
                <li class="item-content search-item">
                    <div class="item-inner">
                        <div class="item-title item-title-p0">
                            {#<span class="icon font-f-13"></span>#}
                            <span class="text"><%= data[i] %> </span>
                        </div>
                    </div>
                </li>
            <% } %>
            </script>
            {% endset %}
            <script>
                seajs.use([], function() {
                    var len = $(".item-hot-search .item-inner").length;
                    if(len == 0){
                        $(".list-group-hot").hide();
                    }

                    //新房搜索联想词
                     var city = '';
                     var cityName = '';
                     var cityId = '';
                     {% set sess_area = app.session.get('area')|default(0) %}
                     {% set city = ('db.auth_group_area')|getAll({
                         rulesarea:sess_area,
                         pageSize: 1,
                         order   : 'sort',
                         orderBy : 'asc'
                     }) %}
                     {% set cityName = city.data[0].city%}
                     {% set cityId = city.data[0].id%}
                     cityId = '{{ cityId }}';
                     cityName = '{{ cityName }}';
                     //新房search
                     zgCommon.xinfangSearch(cityId,cityName);
                     //各列表底部立即下载与关闭
                     zgCommon.listDownload();
                     //各列表底部立即下载显示与隐藏
                     zgCommon.listSlide();
                     //顶部header切换
                     zgCommon.getCity('{{ cityName }}','{{ externalLinks }}');
                    //全网比价、全网点评点击出现弹窗并赋值渠道和链接
                    zgCommon.sourceAlert();
                });
            </script>

            {{ housemobile_global.popup({
                name: 'popup-search',
                title: '搜索',
                content_bar: content_bar,
                content: content
            }) }}
        {% endblock popup_search %}

        {# 第二个页面，e.g. 发布，点评 #}
        {% block popup %}

        {% endblock popup %}



        {% block panel %}
        <!-- 侧栏部分 -->
        {% endblock panel %}
    </div>
    

{% endblock body %}
{# 前端域名统一配置#}
{# 新房系统api域名线上#}
{% set apiUrl = "http://newhouse.zhuge.com" %}
{#  新房系统api域名测试#}
{#{% set apiUrl = "http://cms.zhuge.com" %}#}
{#  外部引用api域名#}
{% set externalLinks = "http://api.zhugefang.com" %}
{# 当前分站id #}
{% set sess_area = app.session.get('area')|default(1) %}
{% set City_id = ('db.auth_group_area')|getOne('id',{rulesarea:sess_area}) %}
{% set cYCity_id = 100+City_id %}
