{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }}
{% endblock %}

{% block mainleft %}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增模板方案'
    },
    {
        method: 'search',
        field: 'name',
        title: '请搜索标识/名称',
    }
]) }}
<section class="list-con" data-param="{
    defUrl    : '{{ (action)|U }}',
    showUrl   : '{{ (action ~ '/show')|U }}',
    submitUrl : '{{ (action ~ '/save')|U }}',
    deleteUrl : '{{ (action ~ '/delete')|U }}',
    fixed     : '.filter',
    list      : '.list-con',
    data      : {
    }
}">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="60" data-role="sort" data-sort="id" class="sort">序号</th>
                    <th>模版名称</th>
                    <th width="200">方案标识(ename)</th>
                    <th width="160">模板标识(tid)</th>
                    <th width="120" data-role="sort" data-sort="id" class="sort">启用状态</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined  and ident.info.data|default('') %}
                {% for k, vo in ident.info.data %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id|default('') }}</td>
                    <td>{{ vo.name|default('') }}</td>
                    <td>{{ vo.ename|default('') }}</td>
                    <td>{{ vo.tid|default('') }}</td>
                    <td  class="pl20">{{ core_global.formField({value: vo.checked|default(''), form: 'smstpls', field: 'checked'}) }}</td>
                    <td>
                        {{ core_manage.show() }}
                        {{ core_manage.delete({issystem: vo.issystem|default('')}) }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="6" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'smstpls',
        title: '开启',
    }
]) }}
{% endblock %}

{% block promptUl %}
// require('markdown')
1. `方案标识`供表单配置里调用， e.g. `data-code="comcode"`
1. `模板标识`是对应的第三方标识
{% endblock %}




