{% extends 'HouseBundle:Mhouse:mhousesarc.html.twig' %}
{% set company = app.request.get('company') %}
{% block mainMenu %}
{% endblock mainMenu %} 
{% block mainleft %}

{% endblock mainleft %}    
{% block tableMain %} 
    {{ core_manage.filter([
        {
            method: 'selectFormField',
            title: '审核',
            form: 'checked',
            field: 'checked',
        },
        {
            method: 'search',
            field: 'name',
        }
    ]) }}
    <div class="list-con" data-param="{{ params }}">
        <div class="list">
        <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                        <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                        <th width="100">经纪人</th>
                        <th width="100">姓名</th>
                        <th width="100">电话</th>
                        <th width="100">审核</th>
                        <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                       
                    </tr>
                    {% if block_arc_data.data|length %}
                    {% for k, vo in block_arc_data.data %} 
                        {% set vo_vo = ('db.users')|getRow({id:vo.mid|default('')})%}
                        {% set nicenames = ('db.userinfo')|getOne('nicename', {uid: vo.mid })%}
                    <tr data-id="{{ vo.id }}">
                        <td class="tac">{{core_manage.checkbox()}}</td>
                        <td>{{ vo.id }}</td>
                        <td>{{ vo_vo.username }}</td>					
                      	<td>{{ nicenames }}</td>
					    <td>{{ vo_vo.tel }}</td>
						<td>{{ core_global.formField({value: vo.checked}) }}</td>
						<td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>

                       {#  <td>{{ ('db.users')|getOne('username',{id:vo.mid})}}</td> #}
                       {#  <td class="tov" title="{{ vo.name|default('') }}"><span data-role="itemEdit" data-name="name" class="edit">{{ vo.name }}</span></td>                      
                         <td class="tov" title="{{ vo.tel|default('') }}"><span data-role="itemEdit" data-name="tel" class="edit">{{ vo.tel }}</span></td>
                        <td>{{ core_global.formField({value: vo.checked}) }}</td>
                        <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                        <td class="tar pr10">
                            {{ core_manage.show({url: (action ~ "/show")|U({id: vo.id}) }) }}
                            {{ core_manage.delete() }}
                        </td> #}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
        </table>
        </div>
        {{core_manage.page(block_arc_data)}}
    </div>

    {{ core_manage.oprate([
        {
            method: 'delete',
            title: '<i class="font-ico-del mr5"></i>批量删除',
        },
        {
            method: 'dropdownFormField',
            field: 'checked',
            form: 'checked',
            title: '审核',
        }
    ]) }}
{% endblock %}


{% block promptUl %}

{% endblock %}

