{% import "CoreBundle:Macro:global.html.twig" as core_global %}
{% set browser = core_global.browser().__toString %}
{% set tpl_content = '您现在使用的浏览器版本过低，请使用IE8以上或极速模式的浏览器！' %}
{% extends browser == 'quirks' ? 'CoreBundle:Dispatch:error.html.twig' : 'HouseBundle::base.html.twig' %}

{% block css %}
{{core_global.linkcss('static/' ~ bundlepath ~ '/css/login.css')}}
{% endblock %}

{% block title %}登录{% endblock title %}
{% block meta %}
    {# {{ dump(app.user) }} #}
    {# <meta http-equiv="refresh"content="1;url=http://bbs.lampbrother.net"> #}
{% endblock meta %}

{% if url|default('') and url not in [('register/index')|U({},true),('login/index')|U({},true)]  %}
    {% set login_url = url|default('') %}
{% endif %}

{% block js %}
<script type="text/javascript">
     seajs.use(['login', 'utils'], function (login, utils) {
        // localstorage读取
        var read_storage = utils.localStorage.getItem('remember');
        // 记住密码
        var $remember = $('input[name="rememberMe"]');
        // 记住密码所属表单
        var $form = $remember.closest('form');
        // 用户名
        var userName = $.trim($form.find('input[name="userName"]').val());
        // 加载之后进行赋值
        if (read_storage) {
            $form.find('input[name="userName"]').val(read_storage.userName);
            $form.find('input[name="passWord"]').val(read_storage.passWord);
        };
        $('#userName').attr('placeholder',"请输入手机号");
        $('#vcode').attr('placeholder',"请输入短信验证码");
        $('.code-btn-text').html("发送验证码");
        $('#submit').html('登录');
        
        // 如果第二次输入的账号密码不同，则更换storage
        if (userName != read_storage.userName) {
            $(document).on('done', function (result) {
                var remember_storage = {
                    userName: $.trim($form.find('input[name="userName"]').val()),
                    passWord: $.trim($form.find('input[name="passWord"]').val())
                };
                if ($remember.prop("checked") == true) {
                    // 设置缓存，时间30天
                    utils.localStorage.setItem('remember', remember_storage, 30);
                };
            })
        };
    })
</script>
{% endblock js %}
{% block body %}
<div class="bg">
    <div class="log">
        <!-- 右侧登录 -->
        <div data-login-wrap="1" class="login-box">
            <div class="login-head" style="display:none;">
                    <ul class="clearfix">
                        <li class="act" data-type="1"><a href="javascript:;">会员登录</a></li>
                        {# 未开启手机短信时不能用手机动态登录 #}
                        {% set smsconfig = ('sms_api')|C|default('') %}
                        {% if smsconfig is empty %}<li></li>
                        {% else %}
                        <li data-type="1"><a href="javascript:;">手机动态登录</a></li>
                        {% endif %} 
                    </ul>
                </div>
            <div class="tab-header">
                <div class="login-head">
                    <img src="{{asset('static/'~bundlepath~'/images/logo.png')}}" class="logo-img">
                </div>
                <div class="logo-cont">
                    <span class="lf"></span>
                    <p>用户登录</p>
                    <span class="rh"></span>
                </div>
                
            </div>
            <!--body-->
            <div class="input-box">
                 <div class="">
                    <div data-view-form="1" class="">
                        {# 需求特殊，参考ajaxform手动渲染 #}
                        <form data-jumpurl="{{login_url|default('')}}" class="" action="{{ form.vars.action|U({loginflag: 1}, true) }}" method="post">
                        <ul>
                            {% for v in form.children %}
                            {% set vars = v.vars %}
                            {% set name = v.vars.name|default('') %}
                            {# {% set type = vars.block_prefixes[1] %} #}
                            {# {% set type = vars.block_prefixes[vars.block_prefixes|length == 3 ? 1 : 2] %} #}

                            {% if name == 'passWord' or name == 'codeText' or name == 'type' or name == 'csrf_token'%}
                                <div class="input input-{{name}}" style="display: none;">
                                    <i class="iconfont icon-dianhua2"></i>
                                     {{ form_widget(v) }}
                                </div>
                            {% else %}
                                {% if name == 'submit' %}
                                    <div class="account-tip">新用户将自动注册，并视为同意 <a href="http://www.zhuge.com/privacy.html">《诸葛找房用户协议》</a></div>
                                {% endif %}
                                <div class="input input-{{name}}">
                                    {% if name == 'userName' %}
                                    <i class="iconfont icon-dianhua2"></i>
                                    {% elseif name == 'vcode' %}
                                    <i class="iconfont icon-duanxinyanzheng"></i>
                                    {% endif %}
                                    {{ form_widget(v) }}
                                </div>
                            {% endif %}
                            
                            {% endfor %}
                        </ul>
                        </form>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
{# <!-- end --> #}

{% endblock body %}

{% block footer %}
    {% include default_themes ~ '::footer.html.twig' %}
{% endblock footer %}
