{% extends "HouseBundle::base_manage_block.html.twig" %}
{% set genre = app.request.get('genre')|default('house') %}
{% block js %}

{% endblock %}
{% block mainMenu %}
    {{ parent() }}
    {{ core_manage.show({
        title: '<i class="font-ico-plus mr5"></i>新增菜单',
        url:  (action ~ '/show')|U({_hides: 'pid,category,category_models'})
    }) }}
{% endblock %}
{% block tableMain %}
{{ core_manage.filter() }}
<section class="list-con" data-param='{
    defUrl    : "{{ (action)|U }}",
    showUrl   : "{{ (action ~ "/show")|U }}",
    submitUrl : "{{ (action ~ "/save")|U }}",
    deleteUrl : "{{ (action ~ "/delete")|U }}",
    fixed     : ".filter",
    list      : ".list-con",
    data      : {
        genre: "{{ genre }}"
    }
}'>
    <div class="list">
        <table data-level="top" data-type="singleToggle" class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="60" class="tac" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th width="40">&nbsp;</th>
                    <th>菜单名称</th>
                    <th width="220">备注</th>
                    <th width="150">控制器</th>
                    <th width="150">方法</th>
                    <th width="100">开关</th>
                    <th width="60" data-role="sort" data-sort="sort" class="sort">排序</th>
                    <th width="200" class="tac">操作</th>
                </tr>
                {% if ident.info is defined %}
                {% set colspan = 10 %}
                {# 一级 #}
                {% for item in ident.info.data %}
                    
                <tr data-level="1" data-id="{{item.menu.id}}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td class="tac">{{item.menu.id}}</td>
                    <td class="tac {% if item.nodes %}plusico{% endif %}"></td>
                    <td><span data-role="itemEdit" data-name="name" class="edit">{{item.menu.name}}</span></td>
                    <td><span data-role="itemEdit" data-name="title" class="edit">{{ item.menu.title|default('-') }}</span></td>
                    <td>{{ item.menu.controller }}</td>
                    <td>{{ item.menu.action }}</td>
                    <td>{{ core_global.formField({value: item.menu.checked, form: 'menus', field:'checked'}) }}
                    </td>
                    <td><span data-role="itemEdit" data-name="sort" class='edit'>{{item.menu.sort}}</span></td>
                    <td>
                        {{core_manage.show({
                            url: (action ~ '/show')|U({_hides: 'pid,category,category_models'})
                        })}}
                        {{core_manage.delete({issystem: item.menu.issystem|default('')})}}
                        {{core_manage.show({
                            url: (action~'/show')|U({pid: item.menu.id, _hides: 'category,category_models'}),
                            title: '添加子菜单',
                        })}}
                        {# {{core_manage.show({
                            url: (action~'/bindmenu')|U({pid: item.menu.id}),
                            title: '关联菜单',
                        })}} #}
                    </td>
                </tr>
                {% if item.nodes is defined %}
                <tr data-level="next" class="subtr">
                    <td colspan="{{colspan}}">
                        <table class="subright-table">
                            {# 二级 #}
                            {% for item1 in item.nodes %}
                            <tr data-level="1" data-id="{{item1.menu.id}}">
                                <td width="40" class="tac">{{core_manage.checkbox()}}</td>
                                <td width="60" class="tac">{{item1.menu.id}}</td>
                                <td width="40" class="tac pl20 {% if item1.nodes %}plusico{% endif %}"></td>
                                <td><span data-role="itemEdit" data-name="name" class='edit'>{{item1.menu.name}}</span></td>
                                <td width="220"><span data-role="itemEdit" data-name="title" class="edit">{{ item1.menu.title|default('-') }}</span></td>
                                <td width="150">{{ item1.menu.controller }}</td>
                                <td width="150">{{ item1.menu.action }}</td>
                                <td width="100">{{ core_global.formField({value: item1.menu.checked, form: 'menus', field:'checked'}) }}
                                </td>
                                <td width="60"><span data-role="itemEdit" data-name="sort" class='edit'>{{item1.menu.sort}}</span></td>
                                <td width="200">
            
                                    {{core_manage.show({
                                        url: (action ~ '/show')|U({_hides: 'category,category_models'})
                                    })}}
                                    {{core_manage.delete({issystem: item1.menu.issystem|default('')})}}
        
                                    {{core_manage.show({
                                        url: (action~'/show')|U('pid='~item1.menu.id),
                                        title: '添加子菜单',
                                    })}}
                                    {# {{core_manage.show({
                                        url: (action~'/bindmenu')|U('pid='~item1.menu.id),
                                        title: '关联菜单',
                                    })}} #}
                                </td>
                            </tr>
                            <tr data-level="next" class="subtr">
                                <td colspan="{{colspan}}">
                                    <table class="subright-table">
                                        {% if item1.nodes is defined %}
                                        {# 三级 #}
                                        {% for item2 in item1.nodes %}

                                        <tr data-level="1" data-id="{{item2.menu.id}}">
                                            <td width="40" class="tac">{{core_manage.checkbox()}}</td>
                                            <td width="60" class="tac">{{item2.menu.id}}</td>
                                            <td width="40" class="tac pl40 {% if item2.nodes %}plusico{% endif %}"></td>
                                            <td><span data-role="itemEdit" data-name="name" class='edit'>{{item2.menu.name}}</span></td>
                                            <td width="220"><span data-role="itemEdit" data-name="title" class="edit">{{ item2.menu.title|default('-') }}</span></td>
                                            <td width="150">{{ item2.menu.controller }}</td>
                                            <td width="150">{{ item2.menu.action }}</td>
                                            <td width="100">{{ core_global.formField({value: item2.menu.checked, form: 'menus', field:'checked'}) }}
                                            </td>
                                            <td width="60"><span data-role="itemEdit" data-name="sort" class='edit'>{{item2.menu.sort}}</span></td>
                                            <td width="200">
                                                {{core_manage.show()}}
                                                {{core_manage.delete({issystem: item2.menu.issystem|default('')})}}
    
                                                {{core_manage.show({
                                                    url: (action ~ '/show')|U({
                                                            _hides: 'category,category_models',
                                                            pid: item2.menu.id
                                                        }),
                                                    title: '添加子菜单',
                                                })}}

                                                {# {{core_manage.show({
                                                    url: (action~'/bindmenu')|U('pid='~item2.menu.id),
                                                    title: '关联菜单',
                                                })}} #}
    
                                            </td>
                                        </tr>
                                        <tr data-level="next" class="subtr">
                                            <td colspan="{{colspan}}">
                                                <table class="subright-table">
                                                    {% if item2.nodes is defined %}
                                                    {# 四级 #}
                                                    {% for item3 in item2.nodes %}

                                                        <tr data-id="{{item3.menu.id}}">
                                                            <td width="40" class="tac">{{core_manage.checkbox()}}</td>
                                                            <td width="60" class="tac">{{item3.menu.id}}</td>
                                                            <td width="40" class="pl40">&nbsp;</td>
                                                            <td><span data-role="itemEdit" data-name="name" class='edit'>{{item3.menu.name}}</span></td>
                                                            <td width="220"><span data-role="itemEdit" data-name="title" class="edit">{{ item3.menu.title|default('-') }}</span></td>
                                                            <td width="150">{{ item3.menu.controller }}</td>
                                                            <td width="150">{{ item3.menu.action }}</td>
                                                            <td width="100">{{ core_global.formField({value: item3.menu.checked, form: 'menus', field:'checked'}) }}
                                                            <td width="60"><span data-role="itemEdit" data-name="sort" class='edit'>{{item3.menu.sort}}</span></td>
                                                            <td width="200">
                                                                {{core_manage.show({
                                                                    url: (action ~ '/show')|U({
                                                                        _hides: 'category,category_models'
                                                                    })
                                                                })}}
                                                                {{core_manage.delete({issystem: item3.menu.issystem|default('')})}}
                    
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </table>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'menus',
        title: '开启',
    }
]) }}
{% endblock %}
{% block submit %}{% endblock %}
{% block promptUl %}
    一级：顶部菜单；二、三级：左侧菜单； 四级：展示区顶部菜单
{% endblock %}