{% set detail = cident.sdetail.data[0]|default('') %}

{# 获取当前时间戳 #}
{% set now_time = ('now')|date('U') %}

{# 幻灯片 #}
{% set detail_tujis = detail.tujis|default('')|sourceImg %}

{% extends detail ? 'HouseBundle:Business:business_layout.html.twig' : 'CoreBundle:Dispatch:errorcontent.html.twig' %}
{# 说明
 * tpl_getrow: 读取当前数据标识名称变量
 * d_models: 当前模型
#}
{# 读取数据标识定义 #}

{% block title %}{{detail.name|default('')}}，{{detail.address|default('')}}二手房{{house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'})}}{% endblock title %}

{% block key_des %}
<meta name="keywords" Content="{{cur_area_data|default('')}}二手房出售,{{detail.lpmc|default('')}}二手房,{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'}) -}} 二手房"/>
<meta name="description" content="{{cur_area_data|default('')}}二手房-{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}提供{{cur_area_data|default('')}}{{detail.lpmc|default('')}}二手房出售信息，{{detail.address|default('')}}，{{detail.lpmc|default('')}}二手房出售，{{- house_global.huxing({data: detail|default(''), tpl: '%shi%%ting%%wei%%chu%'}) -}}。找更多{{cur_area_data|default('')}}{{detail.lpmc|default('')}}二手房信息就到{{cur_area_data|default('')}}二手房-{{core_global.mconfig({name: 'hostname', ename: 'mwebset'})}}。"/>
{% endblock key_des %}

{% block css %}
{{core_global.linkcss('bundles/' ~ bundlepath ~ '/css/sale-detail.css')}}
{% endblock css %}

{% set tpl_officetype = detail.officetype|default('') %}

{# 商铺/写字楼判断 #}
{% if tpl_officetype %}
    {% set tpl_current_link = '<a href="' ~ ("business/xsalelist")|U() ~ '" target="_blank">写字楼出售</a>' %}
    {% set tpl_title = '写字楼' %}

    {# 搜索 #}
	{% set tpl_topsearch_action = 'business/xsalelist' %}

	{% set tpl_topsearch_placeholder = '请输入写字楼名称/拼音' %}

{% else %}
    {% set tpl_current_link = '<a href="' ~ ("business/ssalelist")|U() ~ '" target="_blank">商铺出售</a>' %}
    {% set tpl_title = '商铺' %}

    {# 搜索 #}
	{% set tpl_topsearch_action = 'business/ssalelist' %}

	{% set tpl_topsearch_placeholder = '请输入商铺名称/拼音' %}

{% endif %}

{% block current_container %}
	{{tpl_current_link|raw}}
	<span>&gt;</span>
	<span>{{detail.name|default('')}}</span>
{% endblock current_container %}

{% block container %}
	<div class="container">
		{# 头部 #}
        {{house_global.sale_rent_header(detail|default({})|merge({models: 'rent'}))}}

        <div class="blank20"></div>

        {# 幻灯片 #}
        {{house_global.sale_rent_hdp({data: detail_tujis|default({})})}}

        {# 信息 #}
        <div class="detail-info fr">
            <div class="info1 clearfix">
			    <div class="i-label mt5">
			        总<span class="t-index2"></span>价:
			    </div>
		        <div class="i-txt">
		            {{house_global.if_wy({value: detail.zj|default(''), class: 'c-f50 fz28'})}}
		            {{house_global.if_dj({value: detail.dj|default(''), tpl: '<span>(%value%%danwei%)</span>'})}}
		        </div>
			</div>

			<div class="info1 clearfix">
			    {% if tpl_officetype %}
			        {# 写字楼 #}
			        <div class="i-label">写字楼类型:</div>
			        <div class="i-txt">
			            &nbsp;&nbsp;&nbsp;{{- house_global.lptag({value: detail|default(''), con: 'officetype'})|default('-') -}}
			        </div>
			        <div class="i-label">写字楼级别:</div>
			        <div class="i-txt">
			            &nbsp;&nbsp;&nbsp;{{- house_global.lptag({value: detail|default(''), con: 'officelevel'})|default('-') -}}
			        </div>
			    {% else %}
			        {# 商铺 #}
			        <div class="i-label">商铺类型:</div>
			        <div class="i-txt">
			            {{- house_global.lptag({value: detail|default(''), con: 'shoptype'})|default('-') -}}
			        </div>
			        <div class="i-label">商铺行业:</div>
			        <div class="i-txt two-line">
			            {{- house_global.lptag({value: detail|default(''), con: 'shopindustry'})|default('-') -}}
			        </div>
			    {% endif %}
			</div>

			<div class="info1 clearfix">
			    <div class="i-label">面<span class="t-index2"></span>积:</div>
			    <div class="i-txt">
			        {{house_global.if_mj({value: detail.mj|default('')})}}
			    </div>
			    <div class="i-label">区<span class="t-index2"></span>域:</div>
			    <div class="i-txt">
			        {{core_global.region({id: detail.region|default(''), tpl: '<span>%value%</span>'})}}
			    </div>
			</div>

			<div class="info1 clearfix">
			    <div class="i-label">装修程度:</div>
			    <div class="i-txt">{{- house_global.lptag({value: detail, tpl: '%value%', con: 'zxcd'}) -}}</div>
			    <div class="i-label">朝<span class="t-index2"></span>向:</div>
			    <div class="i-txt">{{- house_global.lptag({value: detail, tpl: '%value%', con: 'cx'}) -}}</div>
			</div>

			<div class="info1 clearfix">
			    <div class="i-label">房<span class="t-index2"></span>龄:</div>
			    <div class="i-txt">{{ core_global.formData({value: detail.fl|default('')}) }}</div>
			    <div class="i-label">楼<span class="t-index2"></span>层:</div>
			    <div class="i-txt">{{detail.szlc|default('')}}/{{detail.zlc|default('')}}层</div>
			</div>

			<div class="info1 clearfix">
			    <div class="i-label">
			        特<span class="t-index2"></span>色:
			    </div>
			    <div class="i-txt czpt">
			        {% if tpl_officetype %}
			            {{ core_global.formField({value: detail.office_ts|default(''), form: 'office_ts', field:'office_ts', tpl: '<span class="mr5">%title%</span>'}) }}
			        {% else %}
			            {{ core_global.formField({value: detail.shops_ts|default(''), form: 'shops_ts', field:'shops_ts', tpl: '<span class="mr5">%title%</span>'}) }}
			        {% endif %}
			    </div>
			</div>

            <div class="info1 clearfix">
                <div class="i-label">
                    地<span class="t-index2"></span>址:
                </div>
                <div class="i-txt czpt">
                    {{detail.address|default('-')}}
                </div>
            </div>

            <div class="info2">
                <div class="icon-tel fl">
                    <i class="font-lp-13"></i>
                </div>
                <p class="fz28">
                    {{detail.tel|default('更新中')}}<span class="ml5 fz16">{{detail.xingming|default('游客')}}</span></p>
                <p class="source_info">信息来源：{{- core_global.mconfig({name: 'hostname', ename: 'mwebset'}) -}}</p>
                <em>电话联系TA</em>
            </div>

            {# 按钮区域 #}
            {{house_global.sale_rent_btn_info({
                id: detail.id|default(0),
                models: 'rent',
                name: detail.name|default(''),
                thumb: detail.thumb|default(''),
            })}}
        </div>

        <div class="blank20"></div>
		
		<div class="d-left fl">
	        <div class="panel" id="fy">
			    <div class="panel-hd">
		            {% set fixed_fy = {
		                'fy': '房源描述',
		                'fydt': '地图'
		            } %}
		            {{house_global.sale_rent_daohang({
	                    name: detail.xingming|default(''),
	                    tel: detail.tel|default(''),
	                    data: fixed_fy
	                })}}
			    </div>
			    <div class="panel-bd bd-gray">
			        {{detail.content|default('暂无介绍')|raw}}
			    </div>
			</div>
			<div class="panel" id="fydt">
				{{
                    house_global.map({
                        detail: detail,
                        data: detail,
                        arr_round : [
                            {ico: 42, name: '学校'},
                            {ico: 43, name: '医院'},
                            {ico: 44, name: '银行'},
                            {ico: 45, name: '餐饮'},
                            {ico: 46, name: '购物'},
                            {ico: 47, name: '公交'},
                            {ico: 49, name: '公园'},
                            {ico: 50, name: '机场'},
                            {ico: 51, name: '加油站'},
                        ]

                    })
                }}
			</div>
			
			{# 同区域房源 #}
            {% set detail_same_area = ('house.sale')|getAll({checked: 1, region: detail.region|default(''), type: detail.type|default(''), orderBy: 'desc', order: 'id', id: 'neq|' ~ detail.id|default(0), valid: 'gt|' ~ now_time|default(''), esflx: detail.esflx|default('') }) %}
            {{house_global.sale_rent_recommend({
                list: detail_same_area,
                action: action,
                title: '同区域' ~ tpl_title ~ '推荐',
                tag: 'lparea'
            })}}
            {# 同价格房源
			出售  +-10万
			 #}
            {% set detail_same_prices = ('house.sale')|getAll({checked: 1, orderBy: 'desc', order: 'id', id: 'neq|' ~ detail.id|default(0), valid: 'gt|' ~ now_time|default(''), zj: 'between|' ~ (detail.zj|default('') - 10) ~ '|' ~ (detail.zj|default('') + 10) ~ '', esflx: detail.esflx|default('') }) %}
            {{house_global.sale_rent_recommend({
                list: detail_same_prices,
                action: action,
                title: '同价格' ~ tpl_title ~ '推荐',
                tag: 'lpprice'
            })}}
		</div>

		{# 右侧 #}
        {# 同小区房源 #}
        {% set detail_same_houses = ('house.sale')|getAll({checked: 1, aid: detail.aid|default(''), id: 'neq|' ~ detail.id|default(0), valid: 'gt|' ~ now_time|default(''), esflx: detail.esflx|default('') }) %}
        {{house_global.sale_aside({
            models: 'sale', 
            btn: 0, 
            tpl_tjj: detail.usertype|default(''), 
            tpl_sale: detail_same_houses|default({})
        })}}
	</div>
	<div class="blank20"></div>
{% endblock container %}
{% block js %}
<script type="text/javascript">
    seajs.use(['gftools', 'browserRecord'], function (gftools, browserRecord) {
        $.yg_func();
        browserRecord.save({
            id : '{{detail.id|default('')}}',
            models: '{{detail.models|default("sale")}}'
        });
        $('.info2,.hideTel').on('click',function(){
            $(this).addClass('move');
        });
    })
</script>
{% endblock js %}