{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
    {% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {# {{ parent() }}  #}
{% endblock %}
{% block mainleft %}
{% endblock mainleft %}
{% block tableMain %}
{{ core_manage.filter([
  {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增分站'
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
            category: '{{ category }}'
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>标题</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                    {# {{dump(vo)}} #}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.name }}</td>
                    <td class="tar pr10">
                        {{ core_manage.show() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="10" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    },
    {
        method: 'dropdownFormField',
        field: 'type',
        form: 'area',
        title: '是否分站',
    }
]) }}
{% endblock %}

{% block promptUl %}
提示说明
{% endblock %}




