{% extends 'HouseBundle:Mhouse:mhousesarc.html.twig' %}

{% block tableMain %}
    {{ core_manage.filter([

    ]) }}
    <div class="list-con" data-param="{{ params }}">
        <div class="list">
            <table class="right-table table-hover">
                <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{ core_manage.checkbox() }}</th>
                    <th width="40">ID</th>
                    <th>交房日期</th>
                    <th>交房详情</th>
                    <th width="200">添加时间</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data|length %}
                    {% for k, vo in ident.info.data %}
                        <tr data-id="{{ vo.id }}">
                            <td class="tac">
                                {{ core_manage.checkbox() }}
                            </td>
                            <td>
                                {{ vo.id }}
                            </td>
                            <td>
                                {{ vo.jfrq }}
                            </td>
                            <td style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">
                                {{ vo.details }}
                            </td>
                            <td>

                                {% if vo.create_time %}
                                    {{ vo.create_time|date('Y-m-d') }}
                                {% else %}
                                    暂无日期
                                {% endif %}

                            </td>
                            <td class="tar pr10">
                                {{ core_manage.show() }}
                                {{ core_manage.delete() }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" class="tac">没有数据！</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {{ core_manage.page(block_arc_data) }}
    </div>
    {% if (action ~ '/show')|P %}
        {{ core_manage.oprate([
            {
                method: 'delete',
                title: '<i class="font-ico-del mr5"></i>批量删除',
            }
        ]) }}
    {% endif %}
{% endblock tableMain %}
