{# 价格 #}
{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set aid = app.request.get('aid') %}
{% set type = app.request.get('type')|default(0) %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}
{% block tableMain %}

{{ core_manage.filter([
    {
        method: 'selectFormField',
        title: '审核',
        form: 'checked',
        field: 'checked',
    },
    {
        title: '添加时间',
        attr: {
            'data-selectdate': 1
        },
        data: [
            {
                id: '1M',
                name: '一个月前'
            },
            {
                id: '3M',
                name: '三个月前'
            }
        ],
        field: 'jtime',
        method: 'selectFilter'
        },
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            aid:'{{ aid }}',
            type:'{{ type }}',
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th width="100"data-role="sort" data-sort="dj" class="sort">均价</th>
                    <th width="100"data-role="sort" data-sort="jgjj" class="sort">最高价</th>
                    <th width="100"data-role="sort" data-sort="jdjj" class="sort">最低价</th>
                    <th width="100">审核</th>
                    <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                    {# {{dump(vo)}} #}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.dj }}</td>
                    <td>{{ vo.jgjj }}</td>
                    <td>{{ vo.jdjj }}</td>
                    <td>{{ core_global.formField({value: vo.checked}) }} </td>
                    <td>{{ vo.jtime.date|default('0')|date('Y-m-d') }}</td>
                    <td class="tac">
                        {{ core_manage.show({
                            url: (action ~ '/show')|U,
                        }) }}

                        {{ core_manage.delete() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="10" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    }
]) }}
{% endblock %}

{% block promptUl %}
{% endblock %}




