{% extends 'HouseBundle::base_manage_block.html.twig' %}

{% set key = app.request.get('key')|default('') %}
{% block js %}

{% endblock %}

{% block mainMenu %}
    {# {{ parent() }} #}
{% endblock %}

{% block mainleft %}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增路由'
    },
     {
        method: 'selectFormField',
        title: '是否启用',
        form: 'routeformshow',
        field: 'status',
     },
    {
        method: 'search',
        field: 'name',
        title: '请搜索名称/标识',
    }
]) }}
<section class="list-con" data-param="{
    defUrl    : '{{ (action)|U }}',
    showUrl   : '{{ (action ~ '/show')|U('bundle='~routebundle) }}',
    submitUrl : '{{ (action ~ '/save')|U }}',
    deleteUrl : '{{ (action ~ '/delete')|U }}',
    fixed     : '.filter',
    list      : '.list-con',
    data      : {
    }
}">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="60" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="150" class="tal">名称</th>
                    <th width="150" class="tal">唯一标识</th>
                    <th>路由URL</th>
                    <th width="200" class="tal">控制器路径</th>
                    <th width="80" class="tac">是否启用</th>
                    <th width="150" class="tac">操作</th>
                </tr>
                {% if routeData.data is defined %}
                {% for key,vo in routeData.data %}
                <tr data-id="{{key}}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.options.remark|default('') }}</td>
                    <td>{{ key }}</td>
                    <td>{{ (key)|newpath|default('') }}</td>
                    <td>{{ vo.defaults._controller }}</td>
                    <td class="tac">{{ core_global.formField({
                             value: vo.options.status|default(''),
                             form: 'routeformshow',
                             field: 'status',
                        }) }}
                    </td>
                    <td class="tac">
                        <a href="{{('bundlesroute/show')|U('bundle='~routebundle~'&routename='~key)}}" class="btn btn-sm" data-role="show">修改</a>
                        <a href="{{('bundlesroute/delete')|U('bundle='~routebundle~'&routename='~key)}}" class="btn btn-sm btn-danger" data-role="delete">删除</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="7" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(routeData)}}
</section>
{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'status',
        form: 'routeformshow',
        title: '开启',
    }
]) }}

{% endblock %}
{% block promptUl %}
// require('markdown')
1. 路由修改过后需要同步修改对应的`防火墙` `页面缓存` `控制器监听`
1. *唯一标识*必须是`控制器_方法`对应
1. 如果修改的路由地址（例：`/zu/detail/{id}.html`修改为`/zf/detail/{id}.html`）,要把zf加入防火墙中绑定
1. 位置靠前的优先匹配，匹配到的不再匹配后面的
1. 请谨慎配置路由，错误的路由会造成意想不到的问题，如: `news/{pageIndex}` 本身可能是只匹配分页，但结果 会匹配到news控制器下的所有方法，这种问题需要启用“附加条件”选项 `pageIndex=\d+` 表示`pageIndex`只匹配数字
{% endblock %}




