{% extends app.request.get('ajax') ? 'HousemobileBundle:Clist:rentlist.html.twig' : 'HousemobileBundle:Sale:qdetail.html.twig' %}
{# 说明 
* detail：小区详情数据
#}
{% block title %}
    {{detail.name|default('')}}租房,房屋出租信息,整租,合租-{{detail.name|default('')}}小区网
{% endblock title %}

{% block key_des %}
<meta name="keywords" content="{{detail.name|default('')}}租房,{{detail.name|default('')}}整租,{{detail.name|default('')}}合租" />
<meta name="description" content="{{detail.name|default('')}}小区网是为{{cur_area_data|default('')}}{{detail.name|default('')}}小区居民服务的网站,{{detail.name|default('')}}租房主要为您提供最新、最真实的{{detail.name|default('')}}租房出租房源信息，每天更新大量优质{{detail.name|default('')}}整租、合租等租房信息，100%审核。" />
{% endblock key_des %}

{% block header_title %}
    {{core_mobile_global.title({title: '小区出租'})}}
{% endblock header_title %}

{% set nav_houses_act = 3 %}

{% block container %}
    {# 检索 #}
    {% set list_header %}
    <div class="filter" data-block="{
        ajax: {
            url: '{{ ('bundlebindforms/ajax')|U }}',
            data: {
                tpl: 'Common:filter',
                tag: 'xq_rent'
            }
        }
    }"></div>
    {% endset %}

    {# 列表链接 js调用列表需要 #}
    {% set list_url = ('sale/qdzhu')|U({ajax: 1, id: detail.id|default(0)}) %}

    {{core_mobile_global.list_scroll({
	    url: list_url|default(''),
        list_header: list_header|default('')
	})}}
{% endblock container %}