{% set tpl = app.request.get('tpl', app.request.get('ajax', '')) %}
{% extends 'HousemobileBundle:' ~ tpl|default(':base') ~ '.html.twig' %}

{% set detail = detail|default(cident.detail.data[0]|default('')) %}

{% block key_des %}
<meta name="keywords" Content="{{detail.keywords|default('')}}"/>
<meta name="description" content="{{detail.abstract|default('')}}"/>
{% endblock key_des %}

{% block title %}
    {{detail.name|default('')}}
{% endblock title %}

{% block header_title %}
    {{core_mobile_global.title({title: '问题详情'})}}
{% endblock header_title %}


{% block container %}
    <div data-block="{
        bParams: true,
        ajax:{
            url: '{{ ('service/detail')|U }}',
            data: {
                id: '{{ detail.id|default('') }}',
                tpl: 'Service:detailblock'
            }
        }
    }"></div>
{% endblock container %}


{# {% block container %}
{% include 'HousemobileBundle:Service:detailblock.html.twig' ignore missing with {detail: detail} %}
{% endblock container %} #}