{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set toid = app.request.get('toid') %}    
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }}
{% endblock %}
{% block tableMain %}

    {{ core_manage.filter([
        {
            method: 'show',
            title: '<i class="font-ico-plus mr5"></i>新增回复',
            url: (action ~ "/show")|U({toid: toid})

        },
        {
        title: '添加时间',
        attr: {
            'data-selectdate': {
                unix: 1
            }
        },
        data: [
                {
                    id: '1M',
                    name: '一个月前'
                },
                {
                    id: '3M',
                    name: '三个月前'
                }
            ],
        field: 'create_time',
        method: 'selectFilter'
        },
        {
            method: 'selectFormField',
            title: '审核',
            form: 'checked',
            field: 'checked',
        },
        {
            method: 'search',
            field: 'name',
            title:'请搜索内容'
        }
    ]) }}
    {# {{dump(ident.info)}} #}
    <section class="list-con" data-param="{
            defUrl    : '{{ (action)|U({toid:toid }) }}',
            showUrl   : '{{ (action ~ '/show')|U }}',
            submitUrl : '{{ (action ~ '/save')|U }}',
            deleteUrl : '{{ (action ~ '/delete')|U }}',
            fixed     : '.filter',
            list      : '.list-con'
        }">
        <div class="list">
            <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                        <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                        <th>回复内容</th>
                        <th width="100">审核</th>
                        <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                        <th width="120" class="tac">操作</th>
                    </tr>
                    {% if ident.info.data is defined and ident.info.pageCount|default(0) != 0 %}
                    {% for k, vo in ident.info.data %}
                    <tr data-id="{{ vo.id }}">
                        <td class="tac">{{core_manage.checkbox()}}</td>
                        <td>{{ vo.id }}</td>
                        <td>{{ vo.content }}</td>
                        <td>{{ core_global.formField({value: vo.checked}) }} </td>
                        <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                        <td class="tar pr10">
                            {{ core_manage.show() }}
                            {{ core_manage.delete() }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="6" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {{core_manage.page(ident.info)}}
    </section>
    {{ core_manage.oprate([
        {
            method: 'delete',
            title: '<i class="font-ico-del mr5"></i>批量删除',
        },
        {
            method: 'dropdownFormField',
            field: 'checked',
            form: 'checked',
            title: '审核',
        },
    ]) }}
{% endblock %}


{% block promptUl %}
{# 提示说明 #}
{% endblock %}




