{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
{% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
  
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }} 
    {{ core_manage.jump(
        {
            title: '默认菜单',
            url: (controller ~ '/mwxplanlist')|U   
            
        }
        ) }}
{% endblock %}

{% block mainleft %}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增公众号'
    },
    {
        method: 'search',
        field: 'name',
        title:'请搜索名称',
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
           
        }
    }">
        <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="60" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>公众号名称</th>
                    <th width="150">类型</th>
                    <th width="200">微信Appid</th>
                    <th width="100">二维码</th>
                    <th width="220">token</th>
                    <th width="180" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                 
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.name }}</td>
                     <td>{{ core_global.formField({field: 'type', form: 'wxusers', value: vo.type}) }}</td>
                    <td>{{ vo.appid }}</td>
                    <td><a href="http://open.weixin.qq.com/qr/code?username={{ vo.wxaccount }}" data-css='{"width": 440, "height": 470}' data-head="{{ vo.name }}的二维码" data-type="iframe" data-drag="2" {# data-drag="1" 3 #} class="btn-jqModal">查看</a></td>
                    <td>{{ vo.token }}</td>
                    <td class="tac pr10 nocon">
                        {{ core_manage.show() }}
                        {{ core_manage.jump(
                            {
                                title: '菜单',
                                url: (controller ~ '/weixinmenu')|U({ appid: vo.appid}),
                                target: '.main-bd'
                            }
                            ) }}
                        {{ core_manage.delete() }}

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="8" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    }
]) }}
{% endblock %}
{% block promptUl %}
1、第一次使用请先在公众平台配置进行配置（注：AppId 和 AppSecret 是要服务号或订阅号通过了认证才会有的）<br>
2、公众平台配置完成后，如果你的账号有创建菜单权限请在 菜单配置 里创建。<br>
3、功能架构里包含的是整站菜单或某会员组菜单下所展示的内容架构。
{% endblock %}
