
{% extends 'MemberBundle::mainlayout.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }} 

    {{ forms.jump(
        {
            title: '<i class=" mr5"></i>发布商铺出售',
            url: 'musersale/musersaleinfo'|U      
        }
        ) }}
{% endblock %}


{% block mainleft %}
 
{% endblock mainleft %}

{% block tableMain %}
    
    {{ lists.filter([
        {
            method: 'show',
            title: '<i class="font-ico-plus mr5"></i>新增商铺出售'
        },
        {
            method: 'selectFormField',
            title: '审核',
            form: 'checked',
            field: 'checked',
        },
        {
            method: 'search',
            field: 'name',
        }
    ]) }}
    <section class="list-con" data-param="{
            defUrl    : '{{ (action)|U }}',
            showUrl   : '{{ (action ~ '/show')|U }}',
            submitUrl : '{{ (action ~ "/save")|U }}',
            deleteUrl : '{{ (action ~ "/delete")|U }}',
            fixed     : '.filter',
            list      : '.list-con',
            data      : {
                models: '{{ models }}',
            }
        }">
        <div class="list">
            <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{forms.checkbox()}}</th>                  
                        <th>房源标题/小区名称<br>其他信息</th>
                        <th width="100">点击<br>预约</th>
                        <th width="100">到期时间</th>
                        <th width="100" >房源置顶</th>
                        <th width="100">刷新日期<br>装修程度</th>
                        <th width="100" >价格<br>单价</th>
                        <th width="100" >审核<br>上架</th>
                        <th width="120" class="tac">操作</th>
                    </tr>
                    {% if ident.info.data is defined %}
                    {% for k, vo in ident.info.data %}
                    <tr data-id="{{ vo.id }}">
                         <td width="40" class="tac">{{forms.checkbox()}}</td>                  
                        <td>[南城]<a href="">{{vo.name}}</a><br>{{vo.lpmc}}<br>{{ lists.formField({value: vo.shi, form: 'srv_common', field:'shi'}) }}/{{ lists.formField({value: vo.ting, form: 'srv_common', field:'ting'}) }}/{{ lists.formField({value: vo.wei, form: 'srv_common', field:'wei'}) }},{{ vo.mj }}㎡, {{core_global.formData({value: vo.cx})}}</td>
                        <td width="100">{{ vo.clicks|default('0') }}<br><a href="#" data-rolo="show">预约</a></td>
                        <td width="100">{{ vo.zjdate|default('0')|date('Y-m-d') }}</td>
                        <td width="100" >{{core_global.formData({value: vo.top})}}</td>
                        <td width="100">{{ vo.create_time|default('0')|date('Y-m-d') }}<br>{{core_global.formData({value: vo.zxcd})}}</td>
                        <td width="100" >{{vo.zj}}元<br>{{vo.dj}}/㎡</td>
                        <td width="100" >{{ lists.formField({value: vo.checked}) }}<br>{{ lists.formField({value: vo.valid, form: 'usesale', field:'valid'}) }}</td>
                        <td width="120" class="tac">
                            {{ forms.show() }}
                            {{ forms.delete() }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {{lists.page(ident.info)}}
    </section>
    {{ lists.oprate([
        {
            method: 'delete',
            title: '<i class="font-ico-del mr5"></i>批量删除',
        },
        {
            method: 'dropdownFormField',
            field: 'checked',
            form: 'checked',
            title: '审核',
        },
         {
            method: 'dropdownFormField',
            title: '上架',
            field: 'valid',
            form: 'userent',
    },
        {
            method: 'dropdownCate',
            title: '置顶',
            field: 'top',
            service: 'house.category',
        },
    ]) }}
{% endblock %}


{% block promptUl %}
提示说明
{% endblock %}




