{% import "CoreBundle:Macro:global.html.twig" as core_global %}
{% import "CoreBundle:Macro:manage.html.twig" as core_manage %}
{% set pid = app.request.get('pid') %}
{% set area_data = ('db.area')|getAll({pid: pid, order: 'sort|asc', pageSize: 50}).data %}
    {# {{ dump(area_data) }} #}
<tr data-level="next" class="subtr">
    <td colspan="9">
        <table class="subright-table">
            {# 二级 #}
            {% for item1 in area_data %}
            {% set count = core_global.count({service: 'db', models: 'area', sql_opt: {pid: item1.id} }) %}
            <tr data-level="1" data-id="{{ item1.id}}" {% if count > '0' %}data-ajax="{{ ('mareamanage/children')|U({pid: item1.id}) }}"{% endif %}>
                <td width="40" class="tac">{{core_manage.checkbox()}}</td>
                <td width="50" class="tac">{{item1.id}}</td>
                <td width="40" class="tac pl{{ (item1.level - 1) * 10 }} {% if count > '0' %}plusico{% endif %}">&nbsp;</td>
                <td>
                    <span data-role="itemEdit" data-name="name" class='edit'>{{item1.name}}</span>
                </td>
                {# <td width="120">{{ core_global.formField({value: item1.checked}) }}</td> #}
                <td width="80">
                    <span data-role="itemEdit" data-name="sort" class='edit'>{{item1.sort|default(0)}}</span>
                </td>
                <td width="200">
                    {{core_manage.show()}}
                    {{core_manage.delete()}}
                    {% if item1.level < 5 %}
                    {{core_manage.show({
                        url: ('mareamanage/show')|U('pid='~item1.id),
                        title: '添加子区域'
                    })}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
</tr>
