{% extends 'ManageBundle::mainlayout.html.twig' %}
{% import 'ManageBundle:Form:lists.html.twig' as lists %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
{{ parent() }}
<li class="on"><a href="javascript:void(0);">菜单项管理</a></li>
{% endblock %}

{% block tableMain %}
<section>
    <span class="tableDesc">
    {{ ident.info.listDesc|default('') }}列表&gt;&gt;
    <input type="button" id="btnfun_edit" data="{{ (action~'/show')|U({'pid':app.request.get('id')}) }}" class="btn" value="新增{{ ident.info.listDesc|default('') }}" /> 
    </span>
    <form class="form" action="{{ ('weixinmenu/save')|U }}" method="post" name="form">
	<table class="right-table">
		<tbody>
			<tr>
				<th class="w60">ID</th>
	            <th class="w120 txtleft">菜单名称</th>
	            <th class="txtleft">链接/KEY (支持变量:{aid},{mid},{cms_abs},{mobileurl})</th>
	            <th class="w60 txtleft">类型</th>
	            <th class="w150">操作</th>
			</tr>
			{% for i in range(1, 3) %}
			{% for j in range(0, 5) %}
			{% set k=i~j %} 
			{% set row=data[k] %} 
			<tr>
				<td class="txtcenter">{{k}}</td>
				<td class="txtleft" nowrap>
					{% if j==0 %}＋{% else %}｜　├-{% endif %}
						<input name="fmdata[{{k}}][title]" value="{{row.title}}" class="w150" type="text">

					</td>
				<td>
					<input name="fmdata[{{k}}][id]" value="{{row.id}}" type="hidden">
					<input name="fmdata[{{k}}][keyword]" value="{{row.keyword}}" class="w300" type="text">
				</td>
				<td class="txtleft">
				    <select data-role="select" class="form-control input-sm w90" name="fmdata[{{k}}][type]">
				        <option value="">-类型-</option>
				        {% for item in typecfgs %}
				        <option value="{{ item.value }}" {% if row.type==item.value %}selected{% endif %}>{{ item.title }}</option>  
				        {% endfor %}
				    </select>
				</td>
				<td class="txtcenter">
					<input type="button" id="btnfun_pop_{{k}}" data="#" class="btn" value="选取" />&nbsp;&nbsp;
					<input type="button" id="btnfun_clear_{{k}}" data="#" class="btn" value="清空" />
				</td>
				<td></td>
			</tr>
			{% endfor %}
			{% endfor %}
			<tr>
				<td></td>
				<td><!--mainsubmit_mail-->
		            <input class="btn ajax-post" target-form="form" value="保存配置" type="submit">
		            <input class="btn ajax-post" target-form="form" data-url="{{ ("weixinmenu/create")|U }}" value="创建菜单" type="button"> 
		            <input name="appid" value="{{appid}}" type="hidden">
				</td>
			</tr>
		</tbody>
	</table>
	<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
	</form>

</section>
{% endblock %}

{% block page %}{% endblock %}

{% block submit %}{% endblock %}
{% block promptUl %}
提示说明
{% endblock %}
