{% extends "CoreBundle::layout.html.twig" %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/manage/css/login.css') }}" />
<script>
seajs.use(["main","{{ bundlepath }}/js/login.js"],function(m, l){
	m.init('ajaxSubmit');
	l.init('main');
});
</script>
{% endblock %} {% block body %}
<div id='loginBody'>
	<div id="loginBezel">
		<div id="loginChildTop">
			<img
				src="{{ asset('bundles/'~bundlepath~'/images/logo-right.png') }}"
				width="57" height="50" align="absbottom" /> 08CMS管理平台
		</div>
		<div id="loginChildBottom">
			<table width="100%" height="95%">
				<form action="{{ path('auto_login') }}" method="post" class="form">
				    {% for v in form.children %}
					<tr {{v.vars.block_prefixes[1]|default('') }}>
						<td align="right" width="35%">{{v.vars.label|trans({}) }}：</td>
						<td align="left" width="65%">{{ form_widget(v) }}</td>
					</tr>
					{% endfor %}
					<tr>
						<td align="right">验证码：</td>
						<td align="left">
						    <input type="text" id="codeText" name="codeText" />&nbsp;
						    <span id="checkNumResult">
						        <img id='codeImg' src="{{ path('manage_captcha') }}" data-src="{{ path('manage_captcha') }}" align="absbottom" alt="验证码" title="点击更换验证码" />
						    </span>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
						    <input type="checkbox" name="rememberMe" /><span class="rememberMe">记住<span>
						    <input type="submit" value="登　录" id="loginBtn" target-form="form" class="ajax-post" />
						</td>
					</tr>
				</form>
			</table>
		</div>
	</div>
</div>
{% endblock %}