{% import "CoreBundle:Macro:global.html.twig" as core_global %}
<header class="header" data-header="1" data-target="[data-content='1']">
    <div class="plr10">
        <div class="blank1"></div>
        {% set logo_thumb = assetImg(core_global.mconfig({name: 'mebcenlogo', ename: 'mmemberparams'}),{width:128,height:64, absolute: 1, type: 0}) %}
        <a class="logo" href="{{('main')|U}}" {% if logo_thumb|default('') %}style="background: url('{{asset('static/'~bundlepath~'/images/logo.png')}}') center no-repeat;background-size:158px;background-position:center center;"{% endif %}>
        </a>
        <a href=""></a>
    {% set area_name = app.session.get('area')|getAreaName %}
    {% set autharea = ('db.auth_group_area')|getCol( 'id', { checked: 1 })|length %}
    {% set _action = _action|default('/main') %}
        <menu id="topmenu">
            <section class="menu-1" >
                <div data-hover="dropdown">
            <a href="{{ 'main/mchange'|U }}" data-route="mchange" data-role="route" class="dropdown-title">
                [{{ app.session.get('area')|getAreaName }}]
                切换分站
            </a>
            <ul class="dropdown-menu addres">  
                {{core_global.switch_area({
                    act_class: 'active',
                    pageSize: 10,
                    is_manage: 1,
                    _action: '/main',
                    tpl: '<li class="%act_class%"><a href="%url%">%name%</a></li>'
                })}}
                <li><a href="{{ core_global.get_http() ~ '://' ~  'maindomain'|C ~ core_global.get_port() ~ core_global.get_mode() ~ _action ~ '?_area=' ~ 0 }}">主站</a></li>
            </ul>
        </div>
            </section>
            <section class="meu-2">
            {% set usertype = app.user.usertype|default(1) %}
            {% if usertype == 15 %}
                {% set url = 'member/j_detail' %}
            {% elseif usertype == 17 %}
                 {% set url = 'member/detail' %}
            {% elseif usertype == 18 %}
                 {% set url = 'member/k_detail' %}
            {% endif %}
               {% if app.user.usertype != 11 %}
                    <a class="item " href="{{(url)|U({id:app.user.id})}}" target="_blank"><i class="font-ico-65"></i>我的店铺</a>
               {% endif %}
                <a class="item" href="{{'index/index'|U}}" target="_blank"><i class="font-ico-53"></i>返回首页<i></i></a>
                <div class="drop item">
                    <a href="#/mindex" ><i class="font-ico-man"></i><font color="#ddd">{{app.user.nicename}}</font>({{app.user.rolename}})</a>
                    <div class="drop-list">
                        <a href="{{- core_global.menu_url(454) -}}">修改密码</a>
                        <a href="{{ path('house_logout') }}">安全退出</a>
                    </div>
                </div>

        </section>
        </menu>
    </div>
    {# <div class="blank15"></div> #}
</header>
<script type="text/javascript">
    seajs.use(['jquery'], function(jquery) {
        $('.drop').hover(function() {
            $('.drop-list').show();}, function() {$('.drop-list').hide();
        });
        $('.dropdown-title').hover(function() {
            $('dropdown-menu').show();
        }, function() {
            $('dropdown-menu').hide();
        });
        
    })
</script>
