{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set aid = app.request.get('aid') %}
{% set models = app.request.get('models') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {# {{ parent() }} #}
{% endblock %}
{% block tableMain %}
    {# {{dump(ident.info.data)}} #}

    {{ core_manage.filter([
        {
            method: 'show',
            title: '<i class="font-ico-plus mr5"></i>加载'
        },
        {
            method: 'show',
            title: '<i class="font-ico-plus mr5"></i>新增资讯',
            url: (action ~ '/show')|U({aid:aid,models:models})
        },
    ]) }}
    {#{{dump(models)}}#}
    {# {{dump(ident.info)}} #}
    <section class="list-con" data-param="{
            defUrl    : '{{ (action)|U }}',
            showUrl   : '{{ (action ~ "/loadnews")|U }}',
            submitUrl : '{{ (action ~ "/save")|U }}',
            deleteUrl : '{{ (action ~ "/delete")|U }}',
            fixed     : '.filter',
            list      : '.list-con',
            data      : {
              
               aid:'{{aid}}'
            }
        }">
       
        <div class="list">
            <table class="right-table table-hover">
                <tbody>
                    <tr data-id>
                        <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                        <th width="40" data-role="sort" data-sort="id" class="sort">ID</th>
                        <th>名称</th>
                        
                        <th width="100">栏目</th>
                        <th width="100" data-role="sort" data-sort="clicks" class="sort">点击</th>
                        
                        <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                        <th width="120" class="tac">操作</th>
                    </tr>
                    {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                    {% for k, vo in ident.info.data %}
                    <tr data-id="{{('house.aalbums')|getOne('id',{pid:vo.id,aid:aid})}}">

                        <td class="tac">{{core_manage.checkbox()}}</td>
                        <td>{{ vo.id }}-{{('house.aalbums')|getOne('id',{pid:vo.id,aid:aid})}}</td>
                        <td class="tov" title="{{ vo.name|default('') }}"><span data-role="itemEdit" data-name="name" class="edit">{{ vo.name }}</span></td>
                        
                        <td>{{core_global.formData({value: vo.category})}}</td>
                        <td>{{ vo.clicks|default('0') }}</td>
                        
                        <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                        <td class="tar pr10">
                            {{ core_manage.show() }}
                            {{ core_manage.delete() }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10" class="tac">没有数据！</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {{core_manage.page(ident.info)}}
    </section>
    {{ core_manage.oprate([
        {
            method: 'delete',
            title: '<i class="font-ico-del mr5"></i>批量删除',
        }
        
    ]) }}
{% endblock %}


{% block promptUl %}
提示说明
{% endblock %}




