{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}
{% block mainMenu %}
    {# {{ parent() }} #}
{% endblock %}

{% block tableMain %}
{% if ((action ~ '/show')|P) %}
    {% set filter_opt = [
        {
            method: 'selectFormField',
            title: '审核',
            form: 'checked',
            field: 'checked',
        },
        {
            title: '报名时间',
            attr: {
                'data-selectdate': {
                    unix: 1
                }
            },
            data: [
            {
                id: '1M',
                name: '一个月前'
            },
            {
                id: '3M',
                name: '三个月前'
            }
        ],
            field: 'create_time',
            method: 'selectFilter'
        },
        {
            method: 'search',
            field: 'name',
            title: '请搜索姓名/电话',
        }
    ] %}

    {% if aid|default('') %}
        {% set filter_opt = [
            {
                method: 'show',
                title: '<i class="font-ico-plus mr5"></i>新增报名'
            }
        ]|merge(filter_opt) %}
    {% endif %}
    {{ core_manage.filter(filter_opt) }}
{% else %}
    {{ core_manage.filter([]) }}
{% endif %}
{# {{dump(ident.info)}} #}
<section class="list-con"  data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ "/show")|U }}',
        submitUrl : '{{ (action ~ "/save")|U }}',
        deleteUrl : '{{ (action ~ "/delete")|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            aid: '{{ aid }}',
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="50" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="50" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>姓名</th>
                    {% if aid|default('') is empty %}
                    <th width="300">团购名称</th>
                    {% endif %}
                    <th width="100">电话</th>
                    <th width="50">审核</th>
                    <th width="100" data-role="sort" data-sort="create_time" class="sort">添加时间</th>
                    {% if (action ~ '/show')|P %}
                    <th width="120" class="tac">操作</th>
                    {% endif %}
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0%}
                {% for k, vo in ident.info.data %}
               
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.name }}</td>
                    {% if aid|default('') is empty %}
                    <td>
                        {{ ('house.houses_arc')|getOne('name', {id: vo.aid}) }}
                    </td>
                    {% endif %}
                    <td class="tov" >{{ vo.tel }}</td>
                    <td>{{ core_global.formField({value: vo.checked}) }} </td>
                    <td>{{ vo.create_time|default('0')|date('Y-m-d') }}</td>
                     {% if (action ~ '/show')|P %}
                    <td class="tar pr10">
                        {{ core_manage.show({
                            url: (action ~ "/show")|U({id: vo.id})
                        }) }}
                        {{ core_manage.delete() }}
                    </td>
                </tr>
                    {% endif %}
                
                {% endfor %}
                {% else %}
                <tr><td colspan="10" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>
{% if ((action ~ '/show')|P) %}
{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    },
]) }}
{% endif %}
{% endblock %}

{% block promptUl %}
{% endblock %}



