{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
{% set aid = app.request.get('aid') %}
{% set type = app.request.get("type") %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }}
    {{ core_manage.jump({
        title: '站内域名',
        url: 'mdomains/mdomainsinnermanage'|U({type: 2})
    }) }}
{% endblock %}

{% block mainleft %}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增域名'
    },
     {
        method: 'selectFormField',
        title: '状态',
        form: 'domains',
        field: 'checked',
    },
    {
        method: 'search',
        field: 'name',
        title: '请搜索域名',
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
            category: '{{ category }}',
            type   : '{{type}}'
        }
    }">
    <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="60" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>域名</th>
                    <th>站点</th>
                    <th class="tac">状态</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.domains|default('') }}</td>
                    <td>{{ core_global.area({ id: vo.areas|default('') }) }}</td>
                    <td class="tac">{{ core_global.formField({value: vo.checked, form: 'domains', field: 'checked'}) }}</td>
                    <td class="tar pr10">
                        {{ core_manage.show() }}
                        {{ core_manage.delete() }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="5" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info|default(0))}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field : 'checked',
        form  : 'domains',
        title : '开启',
    }
]) }}
{% endblock %}

{% block promptUl %}
{# 提示说明 #}
1、如需设置分站域名，则需要把全部分站都重新设置，否则没有设置的分站则不能正常切换
{% endblock %}
