{% extends 'HouseBundle::base_manage_block.html.twig' %}
{# 1 为置顶 2 为刷新 #}
{% set type = app.request.get('type') %}
{% set models = app.request.get('models') %}
{% set category = app.request.get('category') %}
    {% set aid = app.request.get('aid') %}
{% block js %}
<script type="text/javascript">
    
</script>
{% endblock %}

{% block mainMenu %}
    {{ parent() }} 
    {{ core_manage.jump({
        title: '<i class="font-ico-10 mr5"></i>资讯评论',
        url: 'mintercomment/mintercommentmanage'|U
    }) }}
{% endblock %}

{% block mainleft %}
    {# {{ render(controller('HouseBundle:Mnews:category', {category: category, action: 'mnews/mnewsmanage'})) }} #}
{% endblock mainleft %}

{% block tableMain %}
{{ core_manage.filter([
    {
        method: 'show',
        title: '<i class="font-ico-plus mr5"></i>新增方案'
    },
    {
        method: 'selectFormField',
        title: '审核',
        form: 'checked',
        field: 'checked',
    },
    {
        method: 'search',
        field: 'name',
        title: '请搜索名称',
    }
]) }}
<section class="list-con" data-param="{
        defUrl    : '{{ (action)|U }}',
        showUrl   : '{{ (action ~ '/show')|U }}',
        submitUrl : '{{ (action ~ '/save')|U }}',
        deleteUrl : '{{ (action ~ '/delete')|U }}',
        fixed     : '.filter',
        list      : '.list-con',
        data      : {
            models: '{{ models }}',
            category: '{{ category }}',
            type : '{{ type }}'
        }
    }">
       <div class="list">
        <table class="right-table table-hover">
            <tbody>
                <tr data-id>
                    <th width="40" class="tac">{{core_manage.checkbox()}}</th>
                    <th width="60" data-role="sort" data-sort="id" class="sort">ID</th>
                    <th>方案名称</th>
                    <th width="100" data-role="sort" data-sort="id" class="sort">价格</th>
                    <th width="100" data-role="sort" data-sort="id" class="sort">数量</th>
                    <th width="100">审核</th>
                    <th width="120" class="tac">操作</th>
                </tr>
                {% if ident.info.data is defined and ident.info.pageCount|default('') != 0 %}
                {% for k, vo in ident.info.data %}
                    {# {{dump(vo)}} #}
                <tr data-id="{{ vo.id }}">
                    <td class="tac">{{core_manage.checkbox()}}</td>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.name }}</td>
                    <td width="100">{{ vo.price }}</td>
                    <td width="100">{{ vo.value}}</td>
                    <td width="100">{{ core_global.formField({value: vo.checked}) }}</td>
                    <td>
                        {{ core_manage.show() }}
                        {{ core_manage.delete({issystem: vo.issystem|default('')}) }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="7" class="tac">没有数据！</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{core_manage.page(ident.info)}}
</section>

{{ core_manage.oprate([
    {
        method: 'delete',
        title: ' <i class="font-ico-del mr5"></i>批量删除',
    },
    {
        method: 'dropdownFormField',
        field: 'checked',
        form: 'checked',
        title: '审核',
    }
    
]) }}
{% endblock %}

{% block promptUl %}
{# 提示说明 #}
{% endblock %}




